
.pages-index
  %h1.rainbow-text MERCH

  .samf-container.ml-2.mr-2.mt-3.p-3.mt-3
    .wrap
      %p Vi selger merch!!!!
      = link_to "https://samfundet.no/upload/documents/files/000/000/898/Godkjenning_av_Nybygg_-_revidert_ramme.pdf?1642287123" do
        .samf-button.red.mb-1
          = "Bestill her!"


  .samf-smart-box.pt-3
    .half.mr-3.ml-2.flex-column.flex-align-center
      = image_tag "new_building/06 UKA_000.png", alt: "Samfundet", class: "br-1 bxs"
      %p= t("new_building.index.images.image_1")
    .half.ml-3.mr-2.flex-column.flex-align-center
      = image_tag "new_building/13 Mellomrommet 2_000.png", alt: "Samfundet", class: "br-1 bxs"
      %p= t("new_building.index.images.image_2")
    .half.ml-3.mr-2.flex-column.flex-align-center
      = image_tag "new_building/13 Mellomrommet 2_000.png", alt: "Samfundet", class: "br-1 bxs"
      %p= t("new_building.index.images.image_2")

  .samf-smart-box
    .half.mr-3.ml-2.flex-column.flex-align-center
      = image_tag "new_building/11 Klostergata inngang.png", alt: "Samfundet", class: "br-1 bxs"
      %p= t("new_building.index.images.image_3")
    .half.ml-3.mr-2.flex-column.flex-align-center
      = image_tag "new_building/18 Grønnbaren.png", alt: "Samfundet", class: "br-1 bxs"
      %p= t("new_building.index.images.image_4")