
.samfundet-logo
= javascript_include_tag "lyche/header", defer: true

#lyche-header-container
  .header-menu

    .menu-button
      Reservasjon
    .menu-button
      = link_to sulten_menu_path do
        Meny

    = link_to sulten_path do
      .lyche-logo
    .menu-button
      = link_to sulten_about_path do
        Om oss
    .menu-button
      = link_to sulten_contact_path do
        Kontakt
