
.samfundet-logo
= javascript_include_tag "lyche/header", defer: true

#lyche-header-container
  .header-menu

    .mobile-hamburger
      .mobile-hamburger-line
      .mobile-hamburger-line
      .mobile-hamburger-line

    .menu-button
      Reservasjon

    = link_to sulten_menu_path do
      .menu-button
        Meny

    = link_to sulten_path do
      .lyche-logo

    = link_to sulten_about_path do
      .menu-button
        Om oss

    = link_to sulten_contact_path do
      .menu-button
        Kontakt

    .mobile-reservation