
.status-box

  .open-hours
    %table
      %tr
        %td{colspan: 2}
          %b= "Åpningstider"
      %tr
        %td= "10.08 - 12.08"
        %td= "22:00 - 02:00 (bar)"
      %tr
        %td= "13.08 - 28.08"
        %td= "16:00 - 22:00 (restaurant)"
      %tr
        %td= ""
        %td= "22:00 - 02:00 (spritbar)"
      %tr
        %td{colspan: 2}
          %b= "Etter fadderukene"
      %tr
        %td="Hverdager"
        %td="16:00-23:00 (restaurant)"
      %tr
        %td="Helger"
        %td="16:00-22:00 (restaurant)"
      %tr
        %td=""
        %td="22:00-02:00 (spritbar)"
