
.status-box
  .open-hours
    %table
      %tr

      - if @closed.nil?
        %td.title{colspan: 2}
          %b= t("sulten.lyche.status_box.opening_hours")
        - @open_hours.each do |day, period|
          %tr
            - if day == "Hverdager"
              %td= t("sulten.lyche.status_box.weekdays")
            - else
              %td= day
            - if period == "Stengt"
              %td= t("sulten.lyche.status_box.closed")
            - else
              %td= period

      - else
        %td.title{colspan: 2}
          %b= t("sulten.lyche.status_box.closed_message")
        %tr
          %td= t("sulten.lyche.status_box.closed_period")
          %td= l(@closed.closed_from, format: :short_date) + " - " + l(@closed.closed_to, format: :short_date)

  - if @food_closed
    %p{style: "color: white; text-align: center; font-size: 1em;"}
      %i{style: "font-weight: bold;"}
        ="NB:"
      %i
        = t("sulten.reservation.form.food_closed")
