
.status-box
  .open-hours
    %table
      %tr

      - if @closed.nil?
        %td.title{colspan: 2}
          %b= "Åpningstider"

        - @open_hours.each do |period, value|
          %tr
            %td= period
            %td= value

      - else
        %td.title{colspan: 2}
          %b= "Lyche er Stengt"
        %tr
          %td= "Stengt i perioden"
          %td= l(@closed.closed_from, format: :short_date) + " - " + l(@closed.closed_to, format: :short_date)
