- content_for(:container) do
  = render "header_menu"

  .top-padding
  .about

    .left
      .title
        Kontakt
      .description
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      %table
        %tr
          %th= "Adresse"
          %td= "Elgeseter gate 1"
        %tr
          %th= "Epost"
          %td= "lyche@samfundet.no"
        %tr
          %th= "Telefon"
          %td= "314 15 926"

    .right

  .top-padding
