- content_for(:container) do
  = render "header_menu"

  .top-padding
  .about

    .left
      .title
        = t("sulten.lyche.contact.title")
      .description
        = t("sulten.lyche.contact.description")
        %br
        %br
        = t("sulten.lyche.contact.encouragement")
        %br
        %br
        = t("sulten.lyche.contact.inquiries")
      %table
        %tr
          %th= t("sulten.lyche.contact.address")
          %td= "Elgeseter gate 1"
        %tr
          %th= t("sulten.lyche.contact.email")
          %td= "lyche@samfundet.no"
        %tr
          %th= "Instagram"
          %td
            %a{href: "https://www.instagram.com/lychekjokkenogbar/"}= "@lychekjokkenogbar"
        %tr
          %th= "Facebook"
          %td
            %a{href: "https://www.facebook.com/samfundet.lyche"}= "Link"



    .right

  .top-padding
