- content_for(:container) do
  = render "lyche_front"
  = render "header_menu"
  = render "status_box"
  .section
    .image-container
      .image.reservation
    .info-container
      .title
        Reservasjon
      .description
        Vil du reservere bord på Lyche? Dette kan du gjøre gjennom vårt reservasjonssystem, eller på e-post.
      = link_to sulten_make_reservation_path do
        .section-button
          Reserver bord
          .chevron.right


  .section
    .image-container
      .image.menu
    .info-container
      .title
        Meny
      .description
        I Lyche ønsker vi å legge vekt på mat og drikke av høy kvalitet. Dette gjelder både å ha et variert men også godt gjennomtenkt utvalg.
      = link_to sulten_menu_path do
        .section-button
          Se vår meny
          .chevron.right


  .section
    .image-container
      .image.about
    .info-container
      .title
        Om Lyche
      .description
        Lyche er en restaurant drevet på frivillig basis. Alle servitørene og kokkene på kjøkkenet jobber frivillig, og vi er en del av Kafé og serveringsgjengen (KSG) ved Studentersamfundet i Trondhjem.
      = link_to sulten_about_path do
        .section-button
          Mer om oss
          .chevron.right

  .section
    .image-container
      .image.contact
    .info-container
      .title
        Kontakt
      .description
        Har du spørsmål, henvendelser, forslag til forbedring eller av andre årsaker ønsker å komme i kontakt med oss? Her finner du kontaktinformasjonen vår.
      = link_to sulten_contact_path do
        .section-button
          Kontakt oss
          .chevron.right
