- content_for(:container) do
  = render "lyche_front"
  = render "header_menu"
  = render "status_box"
  .section
    .image-container
      .image.reservation
    .info-container
      .title
        = t("sulten.lyche.index.reservation.title")
      .description
        = t("sulten.lyche.index.reservation.description")
      -# = link_to sulten_make_reservation_path do
      = link_to "https://book.easytablebooking.com/book/?id=d8696&lang=no" do
        .section-button
          = t("sulten.lyche.index.reservation.table")
          .chevron.right


  .section
    .image-container
      .image.menu
    .info-container
      .title
        = t("sulten.lyche.index.menu.title")
      .description
        = t("sulten.lyche.index.menu.description")
      -#= link_to sulten_menu_path do
      = link_to asset_path("lyche_uka_menu.pdf") do
        .section-button
          = t("sulten.lyche.index.menu.goto_menu")
          .chevron.right


  .section
    .image-container
      .image.about
    .info-container
      .title
        = t("sulten.lyche.index.about.title")
      .description
        = t("sulten.lyche.index.about.description")
      = link_to sulten_about_path do
        .section-button
          = t("sulten.lyche.index.about.goto_about")
          .chevron.right

  .section
    .image-container
      .image.contact
    .info-container
      .title
        = t("sulten.lyche.index.contact.title")
      .description
        = t("sulten.lyche.index.contact.description")
      = link_to sulten_contact_path do
        .section-button
          = t("sulten.lyche.index.contact.goto_contact")
          .chevron.right
