- content_for(:container) do
  = render "lyche_front"
  = render "header_menu"
  = render "status_box"
  .section
    .image-container
      .image
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.
      = link_to sulten_menu_path do
        .section-button
          Se vår meny
          .chevron.right

  .section
    .image-container
      .image.c
    .info-container
      .title
        Drevet av frivillige
      .description
        Tralla la la la Tralla la la la Tralla la la la Tralla la la la Tralla la la la
      = link_to sulten_about_path do
        .section-button
          Mer om oss
          .chevron.right

  .section
    .image-container
      .image.b
    .info-container
      .title
        Lorem ipsum
      .description
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      .section-button
        Reserver bord
        .chevron.right

  .section
    .image-container
      .image
    .info-container
      .title
        Lyche kan tilby...
      .description
        Lorem ipsum dolor sit amet adipiscing elit
      = link_to sulten_contact_path do
        .section-button
          Kontakt oss
          .chevron.right

  .section
    .image-container
      .image.b
    .info-container
      .title
        Lyche har digg mat
      .description
        Bli med til Lyche, og spis digg mat! Har seriøst lyst på Lyche-burger.
