- content_for(:container) do
  = render "header_menu"
  .top-padding


  .lyche-menu

    .lyche-header-border
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

    .lyche-menu-border
      .lyche-menu-inner-border

        .lyche-menu-logo

        .lyche-menu-title
          = t("sulten.lyche.menu.title")
        %br
        .menu-item
          .item-description
            = t("sulten.lyche.menu.voluntary")
            %br
            %br
            = t("sulten.lyche.menu.vision")
            %br
            %br
            = t("sulten.lyche.menu.member_price")
            %br

        .lyche-menu-subtitle
          = t("sulten.lyche.menu.subtitle")
        %br

        - if @open_hours.count > 0
          .lyche-menu-subtitle{style: "color:#fbb042;"}
            = t("sulten.lyche.menu.opening_hours")

          .lyche-menu-open-hours
            - @open_hours.each do |name, value|
              %span{style:"color:white;"}
                = name
              %br
              - if value == "Stengt"
                %i= t("sulten.lyche.status_box.closed")
              - else
                %i=value
              %br
              %br

        - @categories.each do |category|
          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = category.title
            .lyche-menu-category-detail.right

          - category.sulten_menu_items.each do |item|
            .menu-item
              .item-name
                = item.title
                .item-price
                  = "#{item.price},- / #{item.price_member},-"
              .item-description
                - if item.additional_info
                  = item.additional_info
                  %br
                  %br
                = item.description
                %br
                %br
                %i= "#{t("sulten.lyche.menu.allergies")} #{item.allergies}"
                - if item.recommendation
                  %br
                  %br
                  %i= "#{t("sulten.lyche.menu.recommendation")} #{item.recommendation}"

        %br
        .menu-note
          - if @categories.empty?
            = t("sulten.lyche.menu.empty_menu")
            %br
            %br
          = t("sulten.lyche.menu.milk")

        %br

        .menu-note
          = t("sulten.lyche.menu.errors")

        %br
        %br
        %br
        %br
    .lyche-header-border.bottom
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

  .top-padding
