- content_for(:container) do
  = render "header_menu"
  .top-padding


  .lyche-menu

    .lyche-header-border
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

    .lyche-menu-border
      .lyche-menu-inner-border

        .lyche-menu-logo

        .lyche-menu-title
          Meny
        %br
        .menu-item
          .item-description
            Lyche er en restaurant og spritbar som drives utelukkende av frivillige
            studenter. Om lag 100 engasjerte amatører jobber som kokker
            og barservitører og gjør sitt beste for at du som gjest skal få en
            hyggelig opplevelse.
            %br
            %br
            I Lyche ønsker vi å legge vekt på mat og drikke av høy kvalitet. Derfor har vi både et variert og godt gjennomtenkt utvalg.
            Vi har fokus på å lage rettene våre fra bunnen av og med lokale råvarer.
            %br
            %br
            I menyen oppgis det to priser på både mat og drikke.
            Den førstnevnte er medlemspris for medlemmer av
            Studentersamfundet. Denne gis ved fremvisning av medlemskap.
            %br

        .lyche-menu-subtitle
          Velbekomne!
        %br

        .lyche-menu-subtitle{style: "color:#fbb042;"}
          Åpningstider

        .lyche-menu-open-hours
          %span{style:"color:white;"}
            Hverdager
          %br
          %i="16:00 - 23:00 (restaurant)"
          %br
          %br
          %span{style:"color:white;"}
            Helger
          %br
          %i="16:00 - 22:00 (restaurant)"
          %br
          %i="22:00 - 02:00 (spritbar)"

        -# Forretter

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Småretter
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Lychebrød
            .item-price
              19,- / 29,-
          .item-description
            Inspirert av italiensk ciabatta. Serveres med aioli.
            %br
            %br
            %i= "Inneholder: Gluten (hvete), sulfitt og egg"

        .menu-item
          .item-name
            Sidesalat
            .item-price
              19,- / 29,-
          .item-description
            Med cherrytomater og vinaigrette.
            %br
            %br
            %i= "Inneholder: Sulfitt"

        .menu-item
          .item-name
            Suppe
            .item-price
              49,- / 59,-
          .item-description
            Varierer etter sesong. Spør en av våre servitører om dagens suppe.
            Serveres med Lychebrød og kryddersmør.
            %br
            %br
            %i= "Inneholder: Spør en av våre servitører"


        -# BURGERE

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Burgere
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Lycheburger
            .item-price
              114,- / 134,-
          .item-description
            Dobbel 149,- / 169,-
            %br
            %br
            Aioli, cherrytomater, salat, løkkompott, ost, bacon og pistou
            til ovnsbakte poteter.
            %br
            %br
            %i= "Inneholder: Svin, egg, gluten (hvete, rug, bygg), melk, selleri, sennep og sulfitt"
            %br
            %br
            %i= "Baren anbefaler: E.C. Dahls Bolt IPA"

        .menu-item
          .item-name
            Blåmuggburger
            .item-price
              114,- / 134,-
          .item-description
            Dobbel 149,- / 169,-
            %br
            %br
            Aioli, cherrytomater, salat, søt og syrlig rips- og rabarbramarmelade , blåmuggost fra Selbu og pistou til ovnsbakte poteter.
            %br
            %br
            %i= "Inneholder: Svin, egg, gluten (hvete, rug, bygg), melk, selleri, sennep og sulfitt"
            %br
            %br
            %i= "Baren anbefaler: Lychelig Trippel"

        .menu-item
          .item-name
            Søtpotetburger
            .item-price
              89,- / 105,-
          .item-description
            Dobbel 105,- / 125,-
            %br
            %br
            Aioli, cherrytomater, salat, syltet sjalottløk, manchego og pistou til ovnsbakte poteter. Vegetar. Kan serveres som veganburger.
            %br
            %br
            %i= "Inneholder: Gluten (hvete, rug, bygg), sulfitt, sennep, melk og egg"
            %br
            %br
            %i= "Baren anbefaler: Brooklyn Lager"

        -# HOVEDRETTER

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Hovedretter
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Nordisk falafel
            .item-price
              89,- / 109,-
          .item-description
            Falafel laget med en base av tradisjonsrike ingredienser fra Norge.
            Serveres med ovnsbakt lompe, råkostsalat, yoghurtdressing med urter og syltet sopp med tyttebær
            %br
            %br
            %i= "Inneholder: Gluten (hvete), melk, selleri og sulfitt"
            %br
            %br
            %i= "Baren anbefaler: E.C. Dahls Bolt IPA"

        .menu-item
          .item-name
            Sesongens salat
            .item-price
              99,- / 119,-
          .item-description
            Varieres gjennom året med sesongens smaker. Spør en av våre barservitører for mer informasjon.
            Serveres med lychebrød og kryddersmør.
            %br
            %br
            %i= "Inneholder: Spør en av våre barservitører."
            %br
            %br
            %i= "Baren anbefaler: Bourgogne Chardonnay"

        -# DESSERT
        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Dessert
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Iskrem
            .item-price
              35,- / 45,-
          .item-description
            Fløteiskrem og/eller sorbet. Spør en av våre barservitører om dagens smaker.
            %br
            %br
            %i= "Inneholder: Spør en av våre barservitører."


        .menu-item
          .item-name
            Appelsinsjokolademousse
            .item-price
              49,- / 69,-
          .item-description
            Sjokolademousse med appelsinsmak toppet med kandisert appelsin.
            %br
            %br
            %i= "Inneholder: Melk, egg og soya."
            %br
            %br
            %i= "Baren anbefaler: Barbera d`Asti Superiore Storica"


        -# DRIKKE

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Øl på tapp
          .lyche-menu-category-detail.right

        .lyche-
        .menu-item
          .item-name
            Dahls 0,5L Helg
            .item-price
              64,- / 84,-
        .menu-item
          .item-name
            Dahls 0,5L Ukedag
            .item-price
              49,- / 79,-
        .menu-item
          .item-name
            Lychelig trippel 0,4L
            .item-price
              84,- / 99,-

        .menu-item
          .item-name
            Brooklyn Lager 0,5L
            .item-price
              79,- / 89,-

        .menu-item
          .item-name
            1664 Blanc 0,5L
            .item-price
              64,- / 84,-

        .menu-item
          .item-name
            Spesialøl fra Daglighallen
          .item-description
            Spør om type i baren

        -# Flaskeøl

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Øl på flaske
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            E.C. Dahls Reina saison 0,33L. 4,6%:
            .item-price
              89,- / 99,-
        .menu-item
          .item-name
            E.C, Dahls Bolt IPA 0,33L. 6,9%:
            .item-price
              89,- / 99,-
        .menu-item
          .item-name
            Brooklyn Choc Stout 0,33L. 10%:
            .item-price
              99,- / 109,-
        .menu-item
          .item-name
            Sør 0,33L. 4,7% (glutenfri):
            .item-price
              49,- / 59,-
        .menu-item
          .item-name
            Carlsberg 0,33L. 4,5%:
            .item-price
              59,- / 69,-
        .menu-item
          .item-name
            Ringnes Lite 0,33L. 4,3%:
            .item-price
              49,- / 59,-
        .menu-item
          .item-name
            Boon Framboise 0,375L. 5%:
            .item-price
              104,- / 114,-
        .menu-item
          .item-name
            Boon Geuze 0,375L. 7%:
            .item-price
              99,- / 109,-
        .menu-item
          .item-name
            Boon Kriek 0,375L. 4%:
            .item-price
              94,- / 104,-
        .menu-item
          .item-name
            Chimay blå 0,33L. 9%:
            .item-price
              114,- / 124,-
        .menu-item
          .item-name
            Chimay Rød 0,33L. 7%:
            .item-price
              94,- / 104,-

        -# Rusbrus

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Rusbrus
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Smirnoff ice 0,33L:
            .item-price
              64,- / 84,-
        .menu-item
          .item-name
            somersby pære 0,33L:
            .item-price
              59,- / 79,-
        .menu-item
          .item-name
            Somersby Doubel Press 0,33L:
            .item-price
              59,- / 79,-
        .menu-item
          .item-name
            Crabbies 0,33L:
            .item-price
              65,- / 79,-

        -# Alkoholfritt

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Alkoholfritt
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Mineralvann 0,33L:
            .item-price
              30,- / 35,-
          .item-description
            Utvalg: Pepsi, Pepsi Max, Solo, 7up free, Eplemost
        .menu-item
          .item-name
            Munkholm:
            .item-price
              35,- / 39,-
        .menu-item
          .item-name
            1664 alc free 0,33L:
            .item-price
              39,- / 49,-
        .menu-item
          .item-name
            Weihenstephaner weiss 0,5L:
            .item-price
              39,- / 49,-
        .menu-item
          .item-name
            Brooklyn special effects 0,33L:
            .item-price
              39,- / 49,-


        -# Hvitvin

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Hvitvin
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Sancerre la Croix au Grande
            .item-price
              Glass: 79,- / 89,-
              %br
              Flaske: 399,- / 449,-
        .menu-item
          .item-name
            Garganega Pinot Grigio
            .item-price
              59,- / 69,-
              %br
              299,- / 349,-
        .menu-item
          .item-name
            Villa Wolf Riesling Dry
            .item-price
              59,- / 69,-
              %br
              299,- /  349,-
        .menu-item
          .item-name
            Bourgogne Chardonnay
            .item-price
              79 ,- / 89,-
              %br
              349,- / 399,-
        .menu-item
          .item-name
            Vignana Prosecco Extra Dry
            .item-price
              299,- / 349,-


        -# Rødvin

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            Rødvin
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            Villa wolf Pinot Noir
            .item-price
              Glass: 59,- / 69,-
              %br
              Flaske: 299,- / 349,-
        .menu-item
          .item-name
            Le Rondini Langhe Nebbiolo
            .item-price
              69,- / 79,-
              %br
              279,- / 319,-
        .menu-item
          .item-name
            Barbera d`Asti Superiore Storica
            .item-price
              69,- / 79,-
              %br
              319,- / 369,-
        .menu-item
          .item-name
            Onix Classic
            .item-price
              69,- / 79,-
              %br
              319,- / 369,-

        %br
        %br
        %br

        .menu-note
          Vi tar forbehold om at det kan oppstå feil i den digitale menyen.

        %br
        %br
        %br
        %br
    .lyche-header-border.bottom
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

  .top-padding
