- content_for(:container) do
  = render "header_menu"
  .top-padding


  .lyche-menu

    .lyche-header-border
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

    .lyche-menu-border
      .lyche-menu-inner-border

        .lyche-menu-logo

        .lyche-menu-title
          = t("sulten.lyche.menu.title")
        %br
        .menu-item
          .item-description
            = t("sulten.lyche.menu.voluntary")
            %br
            %br
            = t("sulten.lyche.menu.vision")
            %br
            %br
            = t("sulten.lyche.menu.member_price")
            %br

        .lyche-menu-subtitle
          = t("sulten.lyche.menu.subtitle")
        %br

        - if @open_hours.count > 0
          .lyche-menu-subtitle{style: "color:#fbb042;"}
            = t("sulten.lyche.menu.opening_hours")

          .lyche-menu-open-hours
            - @open_hours.each do |name, value|
              %span{style:"color:white;"}
                = name
              %br
              - if value == "Stengt"
                %i= t("sulten.lyche.status_box.closed")
              - else
                %i=value
              %br
              %br

        -# Starters

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            = t("sulten.lyche.menu.starters.title")
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            = t("sulten.lyche.menu.starters.lyche_bread.name")
            .item-price
              19,- / 29,-
          .item-description
            = t("sulten.lyche.menu.starters.lyche_bread.description")
            %br
            %br
            %i= t("sulten.lyche.menu.starters.lyche_bread.allergies")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.starters.lyche_snitter.name")
            .item-price
              40,- / 49,-
          .item-description
            = t("sulten.lyche.menu.starters.lyche_snitter.description")
            %br
            %br
            %i= t("sulten.lyche.menu.starters.lyche_snitter.allergies")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.starters.soup.name")
            .item-price
              74,- / 89,-
          .item-description
            = t("sulten.lyche.menu.starters.soup.description")
            %br
            %br
            %i= t("sulten.lyche.menu.starters.soup.allergies")


        -# Burgers

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            = t("sulten.lyche.menu.burgers.title")
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            = t("sulten.lyche.menu.burgers.lyche_burger.name")
            .item-price
              129,- / 154,-
          .item-description
            #{t("sulten.lyche.menu.burgers.double")} 179,- / 215,-
            %br
            %br
            = t("sulten.lyche.menu.burgers.lyche_burger.ingredients")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.lyche_burger.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.lyche_burger.recommendations")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.burgers.blue_cheese_burger.name")
            .item-price
              129,- / 154,-
          .item-description
            #{t("sulten.lyche.menu.burgers.double")} 179,- / 215,-
            %br
            %br
            = t("sulten.lyche.menu.burgers.blue_cheese_burger.ingredients")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.blue_cheese_burger.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.blue_cheese_burger.recommendations")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.burgers.mushroom_burger.name")
            .item-price
              99,- / 119,-
          .item-description
            #{t("sulten.lyche.menu.burgers.double")} 114,- / 135,-
            %br
            %br
            = t("sulten.lyche.menu.burgers.mushroom_burger.ingredients")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.mushroom_burger.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.burgers.mushroom_burger.recommendations")

        -# Main courses
        -# Lyche kjører barmeny under immen, dermed ingen vanlige hovedretter.
        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            = t("sulten.lyche.menu.main_courses.title")
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            = t("sulten.lyche.menu.main_courses.pie.name")
            .item-price
              99,- / 119,-
          .item-description
            = t("sulten.lyche.menu.main_courses.pie.description")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.pie.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.pie.recommendations")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.main_courses.cod.name")
            .item-price
              109,- / 125,-
          .item-description
            = t("sulten.lyche.menu.main_courses.cod.description")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.cod.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.cod.recommendations")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.main_courses.cauliflower.name")
            .item-price
              59,- / 69,-
          .item-description
            = t("sulten.lyche.menu.main_courses.cauliflower.description")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.cauliflower.allergies")
            %br
            %br
            %i= t("sulten.lyche.menu.main_courses.cauliflower.recommendations")


        -# Dessert

        .lyche-menu-category
          .lyche-menu-category-detail.left
          .lyche-menu-category-title
            = t("sulten.lyche.menu.desserts.title")
          .lyche-menu-category-detail.right

        .menu-item
          .item-name
            = t("sulten.lyche.menu.desserts.ice_cream.name")
            .item-price
              35,- / 45,-
          .item-description
            = t("sulten.lyche.menu.desserts.ice_cream.description")
            %br
            %br
            %i= t("sulten.lyche.menu.desserts.ice_cream.allergies")

        .menu-item
          .item-name
            = t("sulten.lyche.menu.desserts.creme_catalana.name")
            .item-price
              35,- / 42,-
          .item-description
            = t("sulten.lyche.menu.desserts.creme_catalana.description")
            %br
            %br
            %i= t("sulten.lyche.menu.desserts.creme_catalana.allergies")

        -# Drinks
        -# Lyche ønsket å fjerne drikke, hvis det blir nødvendig å legge til fjern denne kommentaren og tab ut under
          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.beer_on_tap.title")
            .lyche-menu-category-detail.right

          .lyche-
          .menu-item
            .item-name
              Dahls 0,5L #{t("sulten.lyche.menu.beer_on_tap.weekend")}:
              .item-price
                64,- / 84,-
          .menu-item
            .item-name
              Dahls 0,5L #{t("sulten.lyche.menu.beer_on_tap.weekday")}:
              .item-price
                49,- / 79,-
          .menu-item
            .item-name
              Lychelig trippel 0,4L
              .item-price
                84,- / 99,-

          .menu-item
            .item-name
              Brooklyn Lager 0,5L
              .item-price
                79,- / 89,-

          .menu-item
            .item-name
              1664 Blanc 0,5L
              .item-price
                64,- / 84,-

          .menu-item
            .item-name
              = t("sulten.lyche.menu.beer_on_tap.special_beer")
            .item-description
              = t("sulten.lyche.menu.beer_on_tap.ask_bar")

          -# Flaskeøl

          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.bottled_beer.title")
            .lyche-menu-category-detail.right

          .menu-item
            .item-name
              E.C. Dahls Reina saison 0,33L. 4,6%:
              .item-price
                89,- / 99,-
          .menu-item
            .item-name
              E.C, Dahls Bolt IPA 0,33L. 6,9%:
              .item-price
                89,- / 99,-
          .menu-item
            .item-name
              Brooklyn Choc Stout 0,33L. 10%:
              .item-price
                99,- / 109,-
          .menu-item
            .item-name
              Sør 0,33L. 4,7% (#{t("sulten.lyche.menu.bottled_beer.glutenfree")}):
              .item-price
                49,- / 59,-
          .menu-item
            .item-name
              Carlsberg 0,33L. 4,5%:
              .item-price
                59,- / 69,-
          .menu-item
            .item-name
              Ringnes Lite 0,33L. 4,3% (#{t("sulten.lyche.menu.bottled_beer.glutenfree")}):
              .item-price
                49,- / 59,-
          .menu-item
            .item-name
              Boon Framboise 0,375L. 5%:
              .item-price
                104,- / 114,-
          .menu-item
            .item-name
              Boon Geuze 0,375L. 7%:
              .item-price
                99,- / 109,-
          .menu-item
            .item-name
              Boon Kriek 0,375L. 4%:
              .item-price
                94,- / 104,-
          .menu-item
            .item-name
              Chimay #{t("sulten.lyche.menu.bottled_beer.blue")} 0,33L. 9%:
              .item-price
                114,- / 124,-
          .menu-item
            .item-name
              Chimay #{t("sulten.lyche.menu.bottled_beer.red")} 0,33L. 7%:
              .item-price
                94,- / 104,-

          -# Rusbrus

          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.alcopop.title")
            .lyche-menu-category-detail.right

          .menu-item
            .item-name
              Smirnoff ice 0,33L:
              .item-price
                64,- / 84,-
          .menu-item
            .item-name
              Somersby #{t("sulten.lyche.menu.alcopop.pear")} 0,33L:
              .item-price
                59,- / 79,-
          .menu-item
            .item-name
              Somersby Doubel Press 0,33L:
              .item-price
                59,- / 79,-
          .menu-item
            .item-name
              Crabbies 0,33L:
              .item-price
                65,- / 79,-

          -# Alcohol free

          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.alcohol_free.title")
            .lyche-menu-category-detail.right

          .menu-item
            .item-name
              #{t("sulten.lyche.menu.alcohol_free.mineral_water")} 0,33L:
              .item-price
                30,- / 35,-
            .item-description
              = t("sulten.lyche.menu.alcohol_free.choices")
          .menu-item
            .item-name
              Munkholm:
              .item-price
                35,- / 39,-
          .menu-item
            .item-name
              1664 alc free 0,33L:
              .item-price
                39,- / 49,-
          .menu-item
            .item-name
              Weihenstephaner weiss 0,5L:
              .item-price
                39,- / 49,-
          .menu-item
            .item-name
              Brooklyn special effects 0,33L:
              .item-price
                39,- / 49,-


          -# White wine

          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.wine.white_wine")
            .lyche-menu-category-detail.right

          .menu-item
            .item-name
              Sancerre la Croix au Grande
              .item-price
                #{t("sulten.lyche.menu.wine.glass")}: 79,- / 89,-
                %br
                #{t("sulten.lyche.menu.wine.glass")}: 399,- / 449,-
          .menu-item
            .item-name
              Garganega Pinot Grigio
              .item-price
                59,- / 69,-
                %br
                299,- / 349,-
          .menu-item
            .item-name
              Villa Wolf Riesling Dry
              .item-price
                59,- / 69,-
                %br
                299,- /  349,-
          .menu-item
            .item-name
              Bourgogne Chardonnay
              .item-price
                79 ,- / 89,-
                %br
                349,- / 399,-
          .menu-item
            .item-name
              Vignana Prosecco Extra Dry
              .item-price
                299,- / 349,-


          -# Red wine

          .lyche-menu-category
            .lyche-menu-category-detail.left
            .lyche-menu-category-title
              = t("sulten.lyche.menu.wine.red_wine")
            .lyche-menu-category-detail.right

          .menu-item
            .item-name
              Villa wolf Pinot Noir
              .item-price
                Glass: 59,- / 69,-
                %br
                Flaske: 299,- / 349,-
          .menu-item
            .item-name
              Le Rondini Langhe Nebbiolo
              .item-price
                69,- / 79,-
                %br
                279,- / 319,-
          .menu-item
            .item-name
              Barbera d`Asti Superiore Storica
              .item-price
                69,- / 79,-
                %br
                319,- / 369,-
          .menu-item
            .item-name
              Onix Classic
              .item-price
                69,- / 79,-
                %br
                319,- / 369,-

        %br
        %br
        %br

        .menu-note
          = t("sulten.lyche.menu.errors")

        %br
        %br
        %br
        %br
    .lyche-header-border.bottom
      .corner.left
      .middle
        .dot
        .dot
      .corner.right

  .top-padding
