- content_for(:container) do
  = render "header_menu"
  = javascript_include_tag "sulten/lyche/calendar", defer: true

  .lyche_form_title
    = t("sulten.reservation.form.title")

  .reservation-info
    = t("sulten.lyche.reservation.info")
    %br
    %br
    = t("sulten.lyche.reservation.development")
    = mail_to "lyche@samfundet.no"
    %br
    %br
    = t("sulten.lyche.reservation.email_time_limit")
    %br
    = t("sulten.lyche.reservation.capacity")
    - unless @closed_periods.empty?
      %i
        = t("sulten.lyche.reservation.closed_period") + " "
        = @closed_periods.map{ |c| l(c.closed_from, format: :short_date) + "–" + l(c.closed_to, format: :short_date)}.join(', ')

  - if @must_be_in_future
    = semantic_form_for @reservation, :html => { :class => "custom-form lyche_form"} do |f|
      .reservation-info
        .reservation_no_available
          = t("sulten.lyche.reservation.one_day_future")
      .link-back-when-no-reservations
        %p
          = link_to url_for(:back) do
            = t("common.back").capitalize
  - elsif @in_closed_period
    = semantic_form_for @reservation, :html => { :class => "custom-form lyche_form"} do |f|
      .reservation-info
        .reservation_no_available
          = t("sulten.lyche.reservation.closed_day")
      .link-back-when-no-reservations
        %p
          = link_to url_for(:back) do
            = t("common.back").capitalize
  - elsif @in_food_closed_period
    = semantic_form_for @reservation, :html => { :class => "custom-form lyche_form"} do |f|
      .reservation-info
        .reservation_no_available
          %b
            = t("sulten.reservation.form.food_closed")
            = t("sulten.reservation.form.food_not_possible")
      .reservation_no_available
        %b
          = t("sulten.reservation.form.date_food_closed")
      .link-back-when-no-reservations
        %p
          = link_to url_for(:back) do
            = t("common.back").capitalize
  - elsif @times.nil?
    = semantic_form_for @reservation, :url => {:controller => "lyche", :action => "reservation" }, :html => { :class => "custom-form lyche_form"}, data: {type: 'json'} do |f|
      - if @food_closed
        %b
          ="NB:"
        %i
          = t("sulten.reservation.form.food_closed")
      = f.inputs do
        = f.input :reservation_type, label: t("sulten.reservation.reservation_type")
        %li
          %p.inline-hints
            = t("sulten.reservation.form.type_explanation")

        .form-divider

        %li
          %p.inline-hints
            = t("sulten.reservation.form.too_many")
            = mail_to "lyche@samfundet.no", t("sulten.reservation.email_uncapitalized") + "."

        = f.input :reservation_duration, label: t("sulten.reservation.people"),  collection: [1, 2, 3, 4, 5, 6, 7, 8], member_label: proc{|d| "#{d} "}

        .form-divider

        = f.input :reservation_from, label: t("sulten.reservation.date"), input_html: { class: "datepicker", value: @reservation.reservation_from, :readonly => "readonly"}, as: :string

        .form-divider
        = f.actions do
          = f.submit t("sulten.reservation.form.find_times")
  - else
    - if @times.length > 0
      = semantic_form_for @reservation, :html => { :class => "custom-form lyche_form"} do |f|
        .reservation-info
          = t("sulten.lyche.reservation.number_of_guests") + @number_of_guests
          %br
          = t("sulten.lyche.reservation.chosen_date") + @reservation_date
        = f.inputs do
          - # Setting the values from the first form
          = f.input :reservation_type_id,  input_html: {value: @reservation_type}, as: :hidden
          = f.input :people, input_html: {value: @number_of_guests}, as: :hidden
          - # This is the input for the reservation date
          = f.input :reservation_from, label: t("sulten.reservation.date"), input_html: { value: @reservation_date}, as: :hidden

          - # This is the input field for the time the reservation will start
          = f.input :reservation_duration, label: t("sulten.lyche.reservation.time"), collection: @times, member_label: proc{|d| "#{d} "}, include_blank: false
          %h5{style:"text-align:right; color:grey; font-size: 12.5px;"}
            = t("sulten.lyche.reservation.closed_on_day") + l(@close_time, format: :time) + t("sulten.lyche.reservation.on_day") + t("days." +@day)
          %br
          = f.input :name, label: t("sulten.reservation.name")
          = f.input :telephone, label: t("sulten.reservation.telephone")
          = f.input :email, label: t("sulten.reservation.email")
          .form-divider
          = f.input :allergies, label: t("sulten.reservation.other_messages")
          %br
          .gdpr_checkbox
            != f.input :gdpr_checkbox, as: :boolean, required: true, label: raw(t("sulten.reservation.gdpr_checkbox", en_url:'/en/privacy', no_url: '/personvern'))

        = f.actions do
          = f.submit t("sulten.reservation.form.create")
    - else
      = semantic_form_for @reservation, :html => { :class => "custom-form lyche_form"} do |f|
        .reservation-info
          = t("sulten.lyche.reservation.number_of_guests") + @number_of_guests
          %br
          = t("sulten.lyche.reservation.chosen_date") + @reservation_date
          .reservation_no_available
            = t("sulten.lyche.reservation.no_available_tables")
      .link-back-when-no-reservations
        %p
          = link_to url_for(:back) do
            = t("common.back").capitalize
