- set_title t('everything_closed_periods.index_title')

= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = t('everything_closed_periods.table_caption')

= link_to new_everything_closed_period_path do
  .samf-button.green.mb-3
    = t('everything_closed_periods.add_new_link')

%table
  %thead
    %tr
      %th= t('everything_closed_periods.message')
      %th= t('everything_closed_periods.event_message')
      %th= t('everything_closed_periods.from')
      %th= t('everything_closed_periods.to')
      %th
      %th
  - @current_and_future_closed_times.each do |ecp|
    %tr
      %td
        %p
          :markdown
            #{ecp.message}
      %td
        %p
          :markdown
            #{ecp.event_message}
      %td= ecp.closed_from.to_date
      %td= ecp.closed_to.to_date
      %td
        = link_to edit_everything_closed_period_path(ecp.id) do
          .samf-button.small.blue
            = t('crud.edit')
      %td
        = link_to everything_closed_period_path(ecp.id), data: { confirm: t('crud.confirm') }, method: :delete do
          .samf-button.small
            = t('crud.destroy')

