.top
  %h2
    = t('blogs.admin_applet.title')
.options
  %ul
    %li
      = link_to new_blog_path do
        .samf-button.green.w100.mb-2
          = t('blogs.admin_applet.new_blog')
    %li
      = link_to admin_blogs_path do
        .samf-button.plain.w100.mb-2
          = t('blogs.admin_applet.administrate')
