
%h1.mb-2.mt-2
  = t("blogs.admin_applet.administrate")

.flex-row.mb-3
  = link_to members_control_panel_path do
    .samf-button.plain.mr-2
      = t("common.back")

  - if can? :new, Blog
    = link_to new_blog_path do
      .samf-button.green
        = t('blogs.admin_applet.new_blog')

%br
%br

%table
  %thead
    %th= t('events.title')
    %th= t('blogs.admin_applet.written_by')
    %th= t('blogs.admin_applet.created_by')
    %th= t('blogs.admin_applet.updated_at')
    %th= t('blogs.admin_applet.published')
    %th= t('blogs.admin_applet.published_at')
    %th
    %th
  %tbody
    - @articles.each do |article|
      %tr
        %td
          = link_to article.title, article
        %td
          = "#{article.author.fornavn} #{article.author.etternavn}"
        %td
          = article.created_at
        %td
          = article.updated_at
        %td
          = article.published
        - if article.publish_at?
          %td
            = article.publish_at
        - else
          %td
            = t('blogs.admin_applet.no_time_certified')

        %td
          = link_to t("crud.edit"), edit_blog_path(article)
        %td
          - if can? :destroy, article
            = link_to t("crud.destroy"), article, data: { confirm: t("crud.confirm") }, method: :delete
