- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})

= content_for :banner_image do
  .banner
    #banner-image-link
      = background_image_helper "banner-image", Image.image_or_default(@article.image_id), size: :large

- cache cache_key_for_blog_show(@article) do
  - if permitted_to? :manage, :blogs
    .admin-choices
      %ul
        %li
          = link_to t("crud.create"), @article.paths.new
        %li
          = link_to t("crud.edit"), @article.paths.edit
        %li
          = link_to t("crud.destroy"), @article.paths.base, confirm: t("crud.destroy"), method: :delete
        %li
          = link_to t("blog.admin"), @article.paths.admin

  .blogpost
    %h1
      = @article.title

    %p.metadata
      #{@article.author.forename} #{@article.author.surname}&mdash;#{l DateTime.iso8601(@article.publish_at), format: :long}

    :markdown
      #{@article.content}
