.top
  %h2
    = t("info_boxes.title")

.options
  %ul
    - if can? :create, InfoBox
      = link_to new_info_box_path do
        .samf-button.green.w100.mb-2
          = t("info_boxes.new")
    %li
      = link_to info_boxes_path do
        .samf-button.plain.w100.mb-2
          = t("info_boxes.all")