= semantic_form_for @info_box do |f|
  %div{:style=>"flex-basis:100%;"}
    = f.inputs name:"information" do
      .flex-row
        = f.input :title_no, label: "Tittel (Norsk)"
        = f.input :title_en, label: "Tittel (Engelsk)"
      .flex-row
        = f.input :body_no, label: "Kort beskrivelse (Norsk)"
        = f.input :body_en, label: "Kort beskrivelse (Engelsk)"
      .flex-row.mb-3
        = f.input :bg_color, label: "Pick a color", as: :select, collection: InfoBox::COLOR.map { |k| [t("info_boxes.#{k}"), k]}

      .flex-row
        %div{:style=>"flex-basis:100%;"}
          = render 'imagepicker', f: f
    = f.actions do
      = f.action :submit