= f.inputs name: "Choose image" do
  = f.input :image_id, as: :hidden, input_html: { value: Image.image_for(f.object).id, class: 'image_id_input' }
  = image_tag Image.image_for(f.object).image_file.url, class: 'image-preview'

  .flex-row.mt-2
    - if can? :create, Image
      = link_to new_image_path, target: 'blank' do
        .samf-button.small.green.mr-2
          = t('events.forms.upload_image')
    = link_to images_path, class: 'choose-image-link' do
      .samf-button.small.plain.mr-2
        =  t('events.forms.existing_image')

  - if not can? :create, Image
    %div.mt-2= t('events.forms.contact_layout_or_redaksjonen')
