%h1
  = t("info_boxes.title")
- @info_boxes.each do |info_box|
  .info_box.flex-align-center{class:info_box.color}
    .picture
      = link_to info_box.link do
        = background_image_helper "picture", info_box.image_or_default, size: :medium
    .info_text
      = link_to info_box.link do
        .info_text_title
          = info_box.title
        .info_text_body
          = info_box.body
      .flex-row
        = link_to edit_info_box_path(info_box) do
          .samf-button.white.m-3
            = t("info_boxes.edit")
        = link_to info_box_path(info_box), method: :delete, data: {confirm: "Are you sure"} do
          .samf-button.m-3
            = t("info_boxes.delete")

= link_to new_info_box_path do
  .samf-button.green.center
    = t("info_boxes.new")