

.samf-smart-box.flex-align-center.mt-3
  .auto.flex-column.flex-justify-center
    %div.pl-3
      %h1{:style => "font-size:40px;"}= t("auction.index.title")
      %p= simple_format(t("auction.index.info2.body"))

  .third.pr-3.m-3.flex-column.flex-align-center
    = image_tag "auction/Samfundetaksjonen.png", alt: "Samfundet", class: "br-1 bxs m-2"

- if I18n.locale == :no
  .samf-container.blue.ml-2.mr-2.p-3.mt-3.mb-3
    %h1{:style => "font-size:40px;"}= t("auction.index.info1.payment")
    %p= simple_format(t("auction.index.info1.body"))

  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= t("auction.index.what")

  .samf-smart-box
    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item1.title")
      %div
        %p= t("auction.index.item1.body")

    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item2.title")
      %div
        %p= t("auction.index.item2.body")

  .samf-smart-box
    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item3.title")
      %div
        %p= t("auction.index.item3.body")

    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item4.title")
      %div
        %p= t("auction.index.item4.body")

  .samf-smart-box
    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item5.title")
      %div
        %p= t("auction.index.item5.body")

    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item6.title")
      %div
        %p= t("auction.index.item6.body")

  .samf-smart-box
    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item7.title")
      %div
        %p= t("auction.index.item7.body")

    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item8.title")
      %div
        %p= t("auction.index.item8.body")

  .samf-smart-box
    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item9.title")
      %div
        %p= t("auction.index.item9.body")

    .samf-container.white.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= t("auction.index.item10.title")
      %div
        %p= t("auction.index.item10.body")


  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= "Stilleauksjon"

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Tur på taket"
      %div
        %p= 'Har du noen gang skuet opp mot taket til det røde runde hus og tenkt: "fy fabian, de antennene der ser helt råe ut, og utsikten derfra må jo være meganice, skulle ønske jeg kunne klatre opp dit nå på stedet"? Eller har du noen gang lurt på hva faen de driver med på ARK, når du får høre at det ikke involverer podkastproduksjon? hvis du svarte ja, nei, eller vet ikke på noen av ovenforstående spørsmål er du en heldiggris, for ved å kjøpe et lodd får du muligheten til å vinne en drømmedag på ARK fylt med radiobølger i alle frekvenser!'

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Deltagelse på valgfritt radioprogram"
      %div
        %p= "Gjest ditt favorittprogram på Radio Revolt, og bli en vaskekte radioprater for en dag! Snakk om musikk, vitenskap, nyheter, eller hva som helst sammen med praterne i Radio Revolt. "

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Deltagelse i en utgave i Spitredaksjonen "
      %div
        %p= "Spitpostens første og siste opptak er live! Bli med ned i spitredaksjonens hemmelige lokaler og skap Trondheims frieste presses beste produkt - semesterets siste spit.  "

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Design av plakat"
      %div
        %p= "Vil du sende en ekstra kul invitasjon til vors? Vil du ha noe kult og personlig for å henge opp i kollektivet? Gå sammen med noen av studentmedienes grafikere og få laget noe kult!"

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Syngeoppdrag: Pirum"
      %div
        %p= "Vil du arrangere en uforglemmelig fest, et vors eller noe helt annet? Pirum stiller opp med sang og morro!!"

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Syngeoppdrag: Knauskoret"
      %div
        %p= "Vil du arrangere en uforglemmelig fest, et vors eller noe helt annet? Knauskoret stiller opp med sang og morro!!"

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Syngeoppdrag: Candiss"
      %div
        %p= "Vil du arrangere en uforglemmelig fest, et vors eller noe helt annet? Candiss stiller opp med sang og morro!!"

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Sabel"
      %div
        %p= "Regi har sveisa ein sabel du kan bruke til å poppe champis vidare i livet! Kan vise sabelen på arrangementet"

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Synge på privat arrangement"
      %div
        %p= "Samfundets største, eldste og muligens beste damekor synger på et valgfritt arrangement! Vi kan stille med alt fra 8 til 40 dyktige sangere, avhengig av lokale og anledning. Du kan velge opptil fire sanger fra et mangfoldig repertoar; Vi kan både bursdagssanger, drikkeviser, bruremarsjer, bulgarsk folkemusikk, salmer og mer. Trenger du underholdning på linjeforeningsball, pappas 50-årslag eller vors med jentegjengen? Hva med å overraske kjæresten med en romantisk mini-intimkonsert? Eller bare elsker du damekor og vil at vi skal synge yndlingssangen din fire ganger på rad? Vi stiller opp!"

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "UKEplakat fra valgfri UKE"
      %div
        %p= "Noen UKEplakater blir husket lenger enn andre. Revyplakatene til UKA er en gammel tradisjon som er nesten like lang som UKAs historie. Den henter inspirasjon fra tematikken i revyen, og blir på mange måter symbolet på sin UKE. Ønsker du veggpryd fra fredsfesten i UKA-45, fra da alt var sex i UKA-97, eller kanskje foreldrene dine hadde satt pris på plakaten fra sin tids UKE? UKA graver frem UKEplakaten til din favoritt-UKE for deg!!"

  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-justify-center.flex-align-center
        %h1.ml-1.mt-1= "Signert bilde: Kjartan Laurtizen"

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-justify-center.flex-align-center
        %h1.ml-1.mt-1= "Signert bilde: Kaizers"
  .samf-smart-box
    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-justify-center.flex-align-center
        %h1.ml-1.mt-1= "Signert bilde: Karpe"

    .samf-container.red.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-justify-center.flex-align-center
        %h1.ml-1.mt-1= "Signert bilde: D.D.E"

  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= "Lodd A"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "DJ kurs "

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Spritkurs (<22%)"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Lære litt radio"
      %div
        %p= 'Har du noen gang skuet opp mot taket til det røde runde hus og tenkt: "fy fabian, de antennene der ser helt råe ut, og utsikten derfra må jo være meganice, skulle ønske jeg kunne klatre opp dit nå på stedet"? Eller har du noen gang lurt på hva faen de driver med på ARK, når du får høre at det ikke involverer podkastproduksjon? hvis du svarte ja, nei, eller vet ikke på noen av ovenforstående spørsmål er du en heldiggris, for ved å kjøpe et lodd får du muligheten til å vinne en drømmedag på ARK fylt med radiobølger i alle frekvenser!'
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Handykurs (lage skjærefjøl)"
      %div
        %p= "He du ein draum om å bli handy nok til å imponere? Eller manglar du noko å skjære brødet ditt på? No kan du vinne moglegheita til å tilbringe ein dag på verkstaden til DG. Kanskje går du heim med eit stykke treverk du kan være stolt over eller gje vekk i gave, dersom du heller skjemmast over verket."

  .samf-smart-box.flex-justify-center.text-Align
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row
        %h1.ml-1.mt-1= "Matlagingskurs"

  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= "Lodd B"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Konsertbilletter x 2, Kulturutvalget"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Konsertbilletter x 6, Klubbstyret"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Konsertbillett med meet and greet x 2, lørdagskomiteen"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "2 stk valgfrie event-billetter under ISFiT23"
      %div
        %p= "Vinn billetter til valgfri konsert under ISFiT festivalen i Februar 2023!! Her kan en velge mellom et bredt spekter av kulturarrangementer, alt fra konserter til debatter til scenekunst - garantert god stemning og en kulturopplevelse av de sjeldne!"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "2 konsertbilletter"
      %div
        %p= "S. Møller Storbands julekonsert"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "5 konsertbilletter"
      %div
        %p= "Leisure Suit Lovers jubileumskonsert"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Billetter SIT"
      %div
        %p= "Billetter til SITs Storsalsproduksjon i høst"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Billetter"
      %div
        %p= "Konsert med Studentersamfundets Symfoniorkester"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "4 x billett til konsert"
      %div
        %p= "Den 3. desember er det nok en gang duket for julekonsert med Trondhjems Studentersangforening i Hovedbyggets Aula. Dette lotteriet gir deg muligheten til å vinne billetter for deg og en venn til denne staselige begivenheten. For en smakebit på hva man kan oppleve anbefaler vi å sjekke ut opptaket av fjorårets konsert på YouTube. Ikke la sjansen gå fra deg!"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "2 x biletter TKS"
      %div
        %p= "Vi deler ut 2 billetter til TKS sin vårkonsert Fryd & Gammen, som finner sted 27. april i Frimurerlogen. Det blir vårstemning, drikkeviser og vakre toner fra Trondheims mest våryre kvinnekor. "

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "2X rocky billetter V23"

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Supermedlemskap"
      %div
        %p= "Med supermedlemskap i KU sin filmklubb får du mulighet til å komme på alle filmvisningene for et helt semester!"

  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= "Lodd C"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Oktett til oppdrag"
      %div
        %p= "Ønsker du staut mannskorsang til din neste begivenhet, være seg stor eller liten, fest eller hverdag. Dette er i så fall din mulighet, da du kan få åtte Studentsangere fra Trondhjems Studentersangforening til å opptre for deg! Vi stiller opp med tre sanger fra vårt brede repertoar, sunget et sted i Trondheim, på en fornuftig tid for sangerne."
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Teater i stua"
      %div
        %p= "SIT setter opp teater i stua din"

  .samf-smart-box.ml-2.mr-2.p-3.mt-3.mb-3{:style => "margin-top: 50px;"}
    %h1.thin{:style => "font-size:50px;"}= "Lodd D"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "3 stk UKEplakater"
      %div
        %p= "Har du lyst på et symbol på gjenåpning, fest, skaperglede og frivillighet, hengende i stua? Nå kan du for første gang få tak i revyplakaten til UKA utenom under festivalen! Dette er den ene sjansen til å skaffe deg et minne fra tidenes UKE, Razzmatazz. Revyplakatene til UKA er en gammel tradisjon som er nesten like lang som UKAs historie. Den henter inspirasjon fra tematikken i revyen, og blir på mange måter symbolet på sin UKE.  Plakatens motiv blir tradisjonelt valgt gjennom en konkurranse, hvor hvem som helst kan komme med forslag. Revyplakaten for UKA-21 avbilder to figurer, en sol og en stige. UKEnavnet Razzmatazz betyr blant annet «støyende, oppmerksomhetssøkende», og er sammen med plakaten og revyen en hyllest til de glade 20-årene, som nå er tilbake igjen. Det er umulig å vite når denne sjansen kommer igjen, så støtte et godt formål og la ikke muligheten gå fra deg!"
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Semesterbanner"
      %div
        %p= "Kanskje du har sett de råkule semesterbannerne på campus? Hvert semester designer Markedsføringsgjengen en semesterplakat som pryder mange trondheimsstuer. Disse trykkes også som bannere i et lite opplag! Vi lodder ut semesterbanneret fra høst 2019, i størrelsen 3 meter x 1,5 meter. Vil du sikre deg et unikt banner? Kjøp lodd da vel!"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Filmklubb-merch "

    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Få legge noe i veggen til nybygg"

  .samf-smart-box
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Omvisning på huset (omfattende) "
      %div
        %p= "Har du lyst til å oppdage Samfundets kriker og kroker? Vi tar deg med på en omvisning over hele huset. Varighet 1-2 time"
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row.flex-align-center
        %h1.ml-1.mt-1= "Rekvisitt"
      %div
        %p= "Du har muligheten til å kapre deg en rekvisitt fra UKE-revyen 21 - Grip sjansen!"

  .samf-smart-box.flex-justify-center.text-Align
    .samf-container.green.mt-3.p-3.ml-2.mr-2.half-page
      .flex-row
        %h1.ml-1.mt-1= "Side med reklame x9"
      %div
        %p= "Finner du ikke kjærligheten på tinder? Har ikke kjærestegarantien virket enda? Eller vil du rett og slett på date? Vinn en kontaktannonseplass i semesterets siste utgave av Under Dusken, og kanskje din framtidige partner finner deg der? "