
%h1= t("auction.index.title")

.samf-smart-box.flex-align-center.mt-3
  .auto.flex-column.flex-justify-center
    %div.pl-3
      %p= simple_format(t("auction.index.info2.body"))

  .third.pr-3.m-3.flex-column.flex-align-center
    = image_tag "auction/Samfundetaksjonen.png", alt: "Samfundet", class: "br-1 bxs m-2"

%p= simple_format(t("auction.index.info1.body"))

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item1.title")
  %div
    %p= t("auction.index.item1.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item2.title")
  %div
    %p= t("auction.index.item2.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item3.title")
  %div
    %p= t("auction.index.item3.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item4.title")
  %div
    %p= t("auction.index.item4.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item5.title")
  %div
    %p= t("auction.index.item5.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item6.title")
  %div
    %p= t("auction.index.item6.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item7.title")
  %div
    %p= t("auction.index.item7.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item8.title")
  %div
    %p= t("auction.index.item8.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item9.title")
  %div
    %p= t("auction.index.item9.body")

.samf-container.white.mt-3.p-3.ml-2.mr-2
  .flex-row.flex-align-center
    %h1.ml-1.mt-1= t("auction.index.item10.title")
  %div
    %p= t("auction.index.item10.body")