%h2= t("sulten.reservation.form.title_admin")
%p
  = t("sulten.reservation.form.intro1_admin")
%p
  = t("sulten.reservation.form.intro2")
%p
  = t("sulten.reservation.form.intro3")
  <a href="mailto:lyche@samfundet.no">Lyche.</a>
= semantic_form_for @reservation, url: "/lyche/reservasjon_admin" do |f|
  = f.inputs do
    = f.input :table_id, label: t("sulten.table.admin_select"), as: :select, collection: Sulten::Table.all.order(:number)
    = f.input :people, label: t("sulten.reservation.people"),as: :number
    = f.input :reservation_from, placeholder: t("sulten.reservation.placeholder_date"), label: t("sulten.reservation.form.from"), input_html: { class: "datetimepicker_lyche"}, as: :string
    = f.input :reservation_duration, label: t("sulten.reservation.form.duration"), collection: [30, 60, 90, 120, 180], member_label: proc{|d| "#{d} minutter"}, selected: 120
    = f.input :name, label: t("sulten.reservation.name")
    = f.input :reservation_type, label: t("sulten.reservation.reservation_type")
    = f.input :telephone, label: t("sulten.reservation.telephone")
    = f.input :email, label: t("sulten.reservation.email")
    = f.input :allergies, label: t("sulten.reservation.allergies")
    = f.input :internal_comment, label: t("sulten.reservation.internal_comment")
  = f.actions do
    = f.submit t("sulten.reservation.form.create")
