%br
%h1
  = t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation.other"))


= link_to sulten_admin_path do
  .samf-button.plain.mb-2
    = t("common.back")

%br
- @reservations.group_by {|i| i.reservation_from.to_date }.each do |date, f|
  %h2
    = date
  %table.compact
    %thead
      %th
        = t("sulten.reservation.name")
      %th
        = t("sulten.reservation.time")
      %th
        = t("sulten.reservation.people")
      %th
        = t("sulten.reservation.reservation_type")
      %th
        = t("sulten.reservation.table")
      %th
    %tbody
      - f.each do |k|
        %tr
          %td
            = link_to k.name, k
            - if k.allergies.present?
              = link_to image_tag('icons/comment.png', class: "comment-icon", alt: "Comment"), k
          %td
            #{k.reservation_from.strftime("%H:%M")} - #{k.reservation_to.strftime("%H:%M")}
          %td
            = k.people
          %td
            = k.reservation_type
          %td
            - if k.missing_table
              %span{style: "color:red"}
                = t("sulten.reservation.missing_table")
            - else
              = k.table.number
          %td
            .flex-row.end
              = link_to [:edit, k] do
                .samf-button.small.blue.mr-2
                  = t("crud.edit")
              = link_to k, method: :delete, data: {confirm: t("crud.confirm")} do
                .samf-button.small.red
                  = t("crud.destroy")

- if @reservations.blank?
  = t("sulten.reservation.no_reservations")
