%br
%h1
  = t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation.other"))

%p
  = link_to t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation.one")), sulten_reservasjon_admin_path

%br
- @reservations.group_by {|i| i.reservation_from.to_date }.each do |date, f|
  %h2
    = date
  %table
    %th
      = t("sulten.reservation.name")
    %th
      = t("sulten.reservation.time")
    %th
      = t("sulten.reservation.people")
    %th
      = t("sulten.reservation.reservation_type")
    %th
      = t("sulten.reservation.table")
    - f.each do |k|
      %tr
        %td
          = link_to k.name, k
          - if k.allergies.present?
            = link_to image_tag('icons/comment.png', class: "comment-icon", alt: "Comment"), k
        %td
          #{k.reservation_from.strftime("%H:%M")} - #{k.reservation_to.strftime("%H:%M")}
        %td
          = k.people
        %td
          = k.reservation_type
        %td
          = k.table.number
        %td
          = link_to t("crud.edit"), [:edit, k]
        %td
          = link_to t("crud.destroy"), k, method: :delete, data: {confirm: t("crud.confirm")}
- if @reservations.blank?
  = t("sulten.reservation.no_reservations")
