%br
%h1
  = t("sulten.reservation.calendar.title")

.sulten-calendar
  .calendar-header
    = link_to sulten_reservations_calendar_path(:date => (@calendar_date-1.days).strftime("%d-%m-%Y")) do
      .calendar-arrow{style:"transform: rotate(180deg);"}
        =image_tag "icons/black-arrow.png"
    .calendar-header-title= l(@calendar_date, format: :medium_long)
    = link_to sulten_reservations_calendar_path(:date => (@calendar_date+1.days).strftime("%d-%m-%Y")) do
      .calendar-arrow
        =image_tag "icons/black-arrow.png"
    - unless @is_today
      = link_to sulten_reservations_calendar_path do
        .calendar-back-to-today
          = t("sulten.reservation.calendar.back_to_today")
    = link_to sulten_reservasjon_admin_path do
      .calendar-new-button
        = t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation.one"))
  .calendar-row.head
    .calendar-column.fixed
      = t("sulten.reservation.table")
    - (16..23).each do |hour|
      .calendar-column.time
        = "%02d:00" % hour.to_s
    - (0..2).each do |hour|
      .calendar-column.time
        = "%02d:00" % hour.to_s
  - @tables.each_with_index do |table, index|
    .calendar-row
      .calendar-column.fixed
        = table.number.to_s
        .calendar-table-tip
          = table.comment
      .calendar-column
        - if @render_reservations[table.id]
          - @render_reservations[table.id].each do |res, offset, width, has_collision|
            = link_to edit_sulten_reservation_path(res) do
              .calendar-reservation{style: "width: #{width}%; left: #{offset}%;", class: has_collision ? "collision" : ""}
                = res.reservation_from.to_s[10..15] + " (" + res.people.to_s + ")"
                .calendar-reservation-tip
                  .calendar-tip-title
                    = res.name + " (#{res.people.to_s} " + t('sulten.reservation.calendar.people_short') + ")"
                  .calendar-tip-row= t("sulten.reservation.time")+": " + res.reservation_from.to_s[10..15] + " - " + res.reservation_to.to_s[10..15]
                  .calendar-tip-row= t("sulten.reservation.telephone")+": " + res.telephone.to_s
                  .calendar-tip-row= t("sulten.reservation.email")+": " + res.email.to_s
                  .calendar-tip-row= t("sulten.reservation.reservation_type")+": " + res.reservation_type.to_s
  .calendar-row

.tool-button
  = link_to t("helpers.models.sulten.all", :n => t("helpers.models.sulten.table.other")), sulten_tables_path
.tool-button
  = link_to t("helpers.models.sulten.new_thing", :n => t("helpers.models.sulten.table.one")), new_sulten_table_path
.tool-button
  = link_to t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation_type.other")), sulten_reservation_types_path
.tool-button
  = link_to t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation_type.one")), new_sulten_reservation_type_path
.tool-button
  = link_to t("sulten.reservation.calendar.change_closed"), sulten_closed_periods_path

%br
%br
%br
%br

%h2
  = t("sulten.reservation.title")
%br

%table
  %th
    = t("sulten.reservation.summary.day")
  %th
    = t("sulten.reservation.summary.date")
  %th
    = t("sulten.reservation.reservations")
  %th
    = t("sulten.reservation.people")
  - @reservations.group_by {|i| i.reservation_from.to_date }.each do |date, f|
    %tr
      %td
        = l(date, format: '%A').capitalize
      %td
        = date
      %td
        = f.length
      %td
        = f.map(&:people).sum
  %tr{class:"summation"}
    %td{style:"font-style:italic;", colspan:2}
      = t("sulten.reservation.summary.total_week")
    %td
      = @reservations.length
    %td
      = @reservations.map(&:people).sum
%p#export_csv
  = link_to T("sulten.reservation.export_to_csv"), sulten_reservations_export_path(format: :csv)
%p
  = link_to t("sulten.reservation.show_all"), sulten_reservations_archive_path

- @reservations.group_by {|i| i.reservation_from.to_date }.each do |date, f|
  %h2
    = date
  %table
    %th
      = t("sulten.reservation.name")
    %th
      = t("sulten.reservation.time")
    %th
      = t("sulten.reservation.people")
    %th
      = t("sulten.reservation.reservation_type")
    %th
      = t("sulten.reservation.table")
    - f.each do |k|
      %tr
        %td
          = link_to k.name, k
        %td
          #{k.reservation_from.strftime("%H:%M")} - #{k.reservation_to.strftime("%H:%M")}
        %td
          = k.people
        %td
          = k.reservation_type
        %td
          = k.table.number
        %td
          = link_to t("crud.edit"), [:edit, k]
        %td
          = link_to t("crud.destroy"), k, method: :delete, data: {confirm: t("crud.confirm")}