- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- @closed_periods.each do |period|
  - next unless Sulten::ClosedPeriod.active_closed_periods.include?(period)
  .flash.notice
    %b
      - if period.closed_from == period.closed_to
        = t("sulten.reservation.form.closed_one_day", :date => l(period.closed_from, format: "%d. %B"))
      - else
        = t("sulten.reservation.form.closed", :from => l(period.closed_from, format: "%d. %B"), :to => l(period.closed_to, format: "%d. %B"))
    - if period.message
      .notice-message
        = period.message

= javascript_include_tag 'sulten/duration', defer: true
-# 17.09.19: uncomment when uka is over (25.10.19)
-# %h2= t("sulten.reservation.form.title")
-# %p
-#   = t("sulten.reservation.form.intro1")
-# %p
-#   = t("sulten.reservation.form.intro2")
-# %p
-#   = t("sulten.reservation.form.intro3")
-#   <a href="mailto:lyche@samfundet.no">Lyche.</a>
%h2= t("sulten.reservation.form.uka_title")
%p
= t("sulten.reservation.form.uka")
<a href="mailto:lyche@uka.no">lyche@uka.no</a>
%iframe{ src: "https://book.easytablebooking.com/book/?plain=1&id=62921&lang=no", :style => "overflow: hidden; height: -webkit-fill-available; width: 100%; margin-left: -1.8em; color: #A03033;" } 