- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- @closed_periods.each do |period|
  .reservations-closed-message
    %b
      - if period.closed_from == period.closed_to
        = t("sulten.reservation.form.closed_one_day", :date => l(period.closed_from, format: "%d. %B"))
      - else
        = t("sulten.reservation.form.closed", :from => l(period.closed_from, format: "%d. %B"), :to => l(period.closed_to, format: "%d. %B"))
    - if period.message
      .closed-message
        = period.message

= javascript_include_tag 'sulten/duration', defer: true
%h2= t("sulten.reservation.form.title")
%p
  = t("sulten.reservation.form.intro1")
%p
  = t("sulten.reservation.form.intro2")
%p
  = t("sulten.reservation.form.intro3")
  <a href="mailto:lyche@samfundet.no">Lyche.</a>
= semantic_form_for @reservation do |f|
  = f.inputs do
    = f.input :people, label: t("sulten.reservation.people"),as: :number
    %li
      %p.inline-hints
        = t("sulten.reservation.form.too_many")
        = mail_to "lyche@samfundet.no", "mail."
    = f.input :reservation_from, placeholder: t("sulten.reservation.placeholder_date"), label: t("sulten.reservation.form.from"), input_html: { class: "datetimepicker_lyche"}, as: :string
    %li
      %p.inline-hints
        = t("sulten.reservation.form.type_explanation")
    = f.input :reservation_type, label: t("sulten.reservation.reservation_type")
    = f.input :reservation_duration, label: t("sulten.reservation.form.duration"), collection: [60, 90, 120, 150, 180], member_label: proc{|d| "#{d} minutter"}, include_blank: false, selected: 60
    -# collection: [60, 90, 120, 150, 180] because "mat" is selected at load in prod
    = f.input :name, label: t("sulten.reservation.name")
    = f.input :telephone, label: t("sulten.reservation.telephone")
    = f.input :email, label: t("sulten.reservation.email")
    = f.input :allergies, label: t("sulten.reservation.allergies")
    .gdpr_checkbox
      != f.input :gdpr_checkbox, as: :boolean, label: raw(t("sulten.reservation.gdpr_checkbox", en_url:'/en/privacy', no_url: '/personvern'))

  = f.actions do
    = f.submit t("sulten.reservation.form.create")
