
= link_to sulten_admin_path do
  .samf-button.plain.mb-3
    = t("common.back")


%h1{style: "text-transform: capitalize"}
  = t("helpers.models.sulten.reservation.one")

%table.bxs
  %thead
    %td
    %td
  %th
    = t("sulten.reservation.show.from")
  %td
    = @reservation.reservation_from
  %tr{style:"border-bottom: 2px solid #555;"}
    %th
      = t("sulten.reservation.show.to")
    %td
      = @reservation.reservation_to
  %tr
    %th
      = t("sulten.reservation.people")
    %td
      = @reservation.people
  %tr
    %th
      = t("sulten.reservation.table")
    %td
      - if @reservation.missing_table
        %span{style: "color:red"}
          = t("sulten.reservation.missing_table")
      - else
        = @reservation.table.number
  %tr{style:"border-bottom: 2px solid #555;"}
    %th
      = t("sulten.reservation.reservation_type")
    %td
      = @reservation.reservation_type
  %tr
    %th
      = t("sulten.reservation.name")
    %td
      = @reservation.name
  %tr
    %th
      = t("sulten.reservation.telephone")
    %td
      = @reservation.telephone
  %tr{style:"border-bottom: 2px solid #555;"}
    %th
      = t("sulten.reservation.email")
    %td
      = @reservation.email
  %tr
    %th
      = t("sulten.reservation.other_messages")
    %td
      = @reservation.allergies
  %tr{style:"border-bottom: 2px solid #555;"}
    %th
      = t("sulten.reservation.internal_comment")
    %td
      = @reservation.internal_comment
  %tr{style: "font-style: italic;"}
    %th
      = t("sulten.reservation.created_at")
    %td
      = @reservation.created_at

.flex-row.pt-3
  = link_to [:edit, @reservation] do
    .samf-button.blue.mr-2
      = t("crud.edit")
  = link_to @reservation, method: :delete, data: {confirm: t("crud.confirm")} do
    .samf-button.red.mr-2
      = t("crud.destroy")
