= javascript_include_tag 'applicants/admissions_ntnu_warning', defer: true

= semantic_form_for applicant, html: { class: 'soon-to-be-default-styling' } do |form|
  != hidden_field_tag "redirect_to", html_escape(@redirect_to) if @redirect_to
  = hidden_field_tag "admission", html_escape(@admission) if @admission
  .center{style:"max-width:750px"}
    = form.inputs name: t("applicants.forms.register.personal_information") do
      .flex-row.wrap
        != form.input :firstname
        != form.input :surname
      .flex-row.wrap
        != form.input :phone, input_html: { value: @applicant_login_phone }
        != form.input :campus_id, as: :select, collection: Campus.order(:name)

    = form.inputs name: t("applicants.forms.register.login_information") do
      != form.input :email, input_html: { type: "email", value: @applicant_login_email }
      != form.input :email_confirmation, input_html: { type: "email", value: "" }
      %p.ntnu_warning= t("applicants.forms.register.ntnu_warning")
      - if Rails.application.config.enable_microsoft_email_filter
        %p.microsoft_warning= t("applicants.forms.register.microsoft_warning")
      != form.input :password, input_html: { value: "" }
      != form.input :password_confirmation, input_html: { value: "" }

    = form.inputs name: t("applicants.forms.register.extra_information") do
      != form.input :interested_other_positions, as: :select, hint: t("applicants.interested_other_positions_hint")
      != form.input :gdpr_checkbox, as: :boolean, required: true, label: raw(t("applicants.forms.register.gdpr_checkbox", en_url:'/en/information/privacy', no_url: '/informasjon/personvern'))

    = form.actions do
      != submit_tag t("applicants.forms.register.submit")
