- set_title t("user_sessions.new.title")

%h1.text-Align=t("applicants.password_recovery.forgot_password")
%p.text-Align=t("applicants.password_recovery.help_text")

.login-form.applicant

  = form_tag generate_forgot_password_email_path, method: :post, class: "custom-form", id: "applicant_forgot_password_form" do
    = hidden_field_tag :authenticity_token, form_authenticity_token

    %p
      != text_field_tag "applicant_login_field", html_escape(local_assigns[:applicant_login_field]),
        size: login_text_input_width,
        class: 'textfield',
        placeholder: t("applicant_sessions.forms.login.applicant_login_field"),
        required: true

    %p
      != submit_tag t("applicant_sessions.forms.login.recover_password")

  %hr

  .text-Align
    %p=t("applicants.are_you_not_registered")
    = link_to new_applicant_path do
      .center.samf-button.plain
        = t("applicants.register_as_an_applicant")
