.flex-row.wrap
  - if current_user.kind_of? Applicant
    = link_to job_applications_path do
      .samf-button.blue.mr-2.mb-2.mt-2
        = t('jobs.your_applications')
  - else
    = link_to applicants_login_path do
      .samf-button.blue.mr-2.mb-2.mt-2
        = t('applicants.register_as_an_applicant')
    = link_to applicant_login_path do
      .samf-button.plain.mr-2.mb-2.mt-2
        = t('user_sessions.new.title')
  = link_to admissions_path do
    .samf-button.plain.mt-2
      = t('jobs.all_jobs')


%br

.flex-row.wrap
  %div{:style=>"flex: 1; min-width: min(600px, 100%);"}
    %h1
      = set_and_return_title @job.title
    %h2
      = t('jobs.job_as')
      %i
        = @job.is_officer ? "Funksjonær" : "Gjengmedlem"
      .tooltip
        != t('jobs.type_explanation_html')
      = t('jobs.at')
      = group_link @job.group
    - if @already_applied && @interview_suggestions.length > 0
      %h2.mt-3
        %b
          .col
            = t("jobs.missing_interview_time")
          .col.mb-3
            = t("jobs.select_interview_time")
          - @interview_suggestions.group_by {|slot, _| slot.start_time }.sort.each do |_, suggested|
            - shared_slot = suggested[0][0]
            .samf-container.p-3
              %h2{style: "text-transform: capitalize"}
                = l(shared_slot.start_time.to_date, format: :medium_long)
              %h2{style: "text-transform: capitalize; color: #777; margin-bottom: 20px;"}= shared_slot.location
              .flex-row.wrap
                - suggested.each do |_, interview_time|
                  - interview_time_to_pass = interview_time.to_datetime.strftime("%D%H%M").gsub! "/", ""
                  = link_to job_application_book_interview_time_path(@job_application, interview_time_to_pass + shared_slot.id.to_s), data: { confirm: t("crud.confirm") } do
                    .samf-button.small.white.m-1
                      %div= interview_time.to_datetime.strftime("%H:%M")

    .pr-2
      %p
        = @job.teaser
      :markdown
        #{@job.description}

      - if @is_mg_web_job
        .mg-web.w100
          = javascript_include_tag 'jobs/mg_web_job', defer: true
          %p
            = "Vi kan gjøre mye sprell på siden, bare sjekk ut den her:"
          #shrimp-mode-button.samf-button.w100-mobile
            = "Spill rekefisking"
          #certified-rekefisker.display-none
          .div.mb-3

  %div.mb-3{:style=>"flex-basis: 20%;"}
    - unless @similar_available_jobs.empty?
      %h2.mb-2
        Lignende verv
      %div.mb-3
        - @similar_available_jobs.each do |job|
          != link_to job_path(job) do
            .samf-button.plain.mb-2
              != html_escape(job.title)
              != t('jobs.at')
              != abbreviate_long_name(job.group, limit: 22)

    - unless @available_jobs_in_same_group.empty?
      %h2.mb-2
        = t('jobs.other_jobs_in')
        = abbreviate_long_name(@job.group, limit: 26)
      %div.mb-3
        - @available_jobs_in_same_group.each do |job|
          = link_to job_path(job) do
            .samf-button.plain.mb-2
              = html_escape(job.title)


.col.max
  - if request.xhr?
    = link_to @job do
      - unless @already_applied
        .samf-button
          Søk på dette vervet
      - else
        .samf-button
          Endre på motivasjonen
  - else
    != render partial: 'job_applications/form'

- if @is_mg_web_job
  .mg-web
    #shrimp-mode.display-none
      .water-overlay
      .shrimp-menu
        .inner-menu
          .flex-column
            .title.mr-3= "Rekefisking pågår!"
            #num-shrimp
              = "Reker igjen: 0"
          #stop-shrimp-mode.samf-button.small.flex-align-center
            = "Avslutt"
      #shrimp-container
