%h1= set_and_return_title(t("groups.admin.title"))

= link_to members_control_panel_path do
  .samf-button.plain.mr-2
    = t("common.back")


.section
  - @group_types.each do |type|
    %h2.mt-3
      = type.description
    %table
      %thead
        %tr
          %th
            Gjeng
          %th
            Forkortelse
          %th
            Webside
          %th
            &nbsp;
      - type.groups.each do |group|
        %tr
          %td
            = link_to group.name, group.page
          %td
            - unless group.abbreviation.nil? || group.abbreviation.empty?
              = group.abbreviation
            - else
              %em
                Ingen kjent forkortelse eksisterer.
          %td
            = group.website
          %td
            - if can?(:update, group)
              = link_to edit_group_path(group) do
                Redigér gjeng

  - if can?(:create, Group)
    %br
    %br
    %br
    = link_to new_group_path do
      .samf-button.green.mt-3
        = "Opprett gjeng"
