
= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = t("common.back")

%h1= set_and_return_title(t("groups.admin.title"))

- if can?(:create, Group)
  = link_to new_group_path do
    .samf-button.green.mt-3
      = "Opprett gjeng"

- @group_types.each do |type|
  %h2.mt-3
    = type.description
  %table
    %thead
      %tr
        %th{:style => "width: 30%"}
          Gjeng
        %th{:style => "width: 30%"}
          Forkortelse
        %th{:style => "width: 20%"}
          Webside
        %th{:style => "width: 20%"}
          &nbsp;
    %tbody
      - type.groups.each do |group|
        %tr
          %td
            = link_to group.name, group.page
          %td
            - unless group.abbreviation.nil? || group.abbreviation.empty?
              = group.abbreviation
            - else
              %em
                Ingen kjent forkortelse eksisterer.
          %td
            = group.website
          %td{:style => "float: right"}
            - if can?(:update, group)
              = link_to edit_group_path(group) do
                .samf-button.blue.small
                  = t("groups.edit_group")
