
%h1= t("pages.index.groups")
%p= t("pages.index.groups_info")

.groups-showcase-container
  - @group_types.each do |t|
    .samf-container.white.p-3.m-2.mt-3
      .flex-row.wrap.center
        .group-type-headline=t
        - t.groups.each do |g|
          = link_to (g.page != nil ? g.page : "#"), class: "group-showcase" do
            = image_tag "groups/#{g.name.downcase}.jpg", class: "image"
            - if g.name.length > 14
              .label=g.abbreviation
            - else
              .label= g.name
