%h1 Campus

.samf-button.green.mb-3= link_to "Legg til ny campus", new_admissions_admin_campus_path

%table.campus
  %thead
    %tr
      %th= t("name")
      %th= t("created_at")
      %th= t("updated_at")
      %th= t("number_of_applicants")
      %th= t("number_of_current_applicants")
      - if can? :edit, Campus
        %th
      - if can? :destroy, Campus
        %th
        %th
        %th

  %tbody
    - @campuses.each do |campus|
      %tr
        %td= campus.name
        %td= campus.created_at
        %td= campus.updated_at
        %td= campus.number_of_applicants
        %td= @campus_count[campus.id]
        - if can? :edit, Campus
          %td= link_to t("campus_edit"), edit_admissions_admin_campus_path(campus)
          - if campus.active?
            %td= link_to t("deactivate"), admissions_admin_campus_deactivate_path(campus)
          - else
            %td= link_to t("activate"), admissions_admin_campus_activate_path(campus)
          %td
            = link_to admissions_admin_campus_destroy_path(campus), data: {confirm: t("areYouSure")} do
              = t("delete")


