= semantic_form_for @custom_route do |f|
  = f.inputs do
    = f.input :name, label: t('custom_routes.name')
    = f.input :source, label: t('custom_routes.source')
    = f.input :target, label: t('custom_routes.target')
    = f.input :comment, label: t('custom_routes.comment')
  = f.actions
