- set_title t('custom_routes.index_title')


.content
  %h1= t('custom_routes.index_title')
  .button= link_to t("crud.new"), new_custom_route_path
  .list
    %table
      %tr
        %th= t("custom_routes.name")
        %th= t("custom_routes.source")
        %th= t("custom_routes.target")
        %th= t("custom_routes.comment")
        %th
        %th
      - @custom_routes.each do |custom_route|
        %tr
          %td= custom_route.name
          %td= custom_route.source
          %td= custom_route.target
          %td= custom_route.comment
          %td
            .button
              = link_to t("custom_routes.action.edit"), edit_custom_route_path(custom_route)
          %td
            .button
              = link_to t("crud.destroy"), custom_route, confirm: t("crud.confirm"), method: :delete
