.top
  %h2
    = t("admissions.admin_applet.title")
.options
  - if can?(:manage, Admission)
    = link_to new_admissions_admin_admission_path do
      .samf-button.green.w100.mb-2
        = t('admissions.create_admission')

- if can?(:list, Admission)
  %br
  = link_to t('admissions.closed_admissions'), admissions_admin
  - @admissions.each do |admission|
    = link_to admissions_admin_admission_path(admission) do
      .samf-button.plain.w100.mb-2
        %b= admission.title
        %br
        = t('admissions.administer_my_group')

  - if can?(:manage, Admission)
    = link_to admissions_admin_list_path do
      .samf-button.plain.w100
        = t('admissions.closed_admissions')

