
%hr

%h1{style: "color: green;"}= "Ferdig!"

%h2= @success.count.to_s + " av " + @recipients.count.to_s + " eposter ble sendt."

= link_to overview_admissions_admin_admission_path(@admission) do
  .samf-button.plain.mb-2.center.mt-3
    = t("common.back")

- if @failure.count > 0
  %hr
  %h1{style: "color: red"}= "ADVARSEL!"
  %p= "Noe gikk galt og " + @failure.count.to_s + " epost(er) ble ikke sendt!"
  %p= "Prøv på nytt eller kontakt mg-web@samfundet.no for hjelp."

  %hr

  %table.compact
    %thead
      %th= "Navn"
      %th= "Epost"
      %th= "Error"
    %tbody
      - @failure.each_with_index do |f, i|
        %tr
          %td= f.full_name
          %td= f.email
          %td= @errors[i].message
