= javascript_include_tag 'applicants/admissions_admin_email', defer: true

%h1
  = t("admissions_admin.prepare_email_title") + " - " + @admission.title

.flex-row
  %div.pr-3{style: "flex-basis: 50%;"}
    %h2= "Endre epost"
    %hr.compact
    = form_with(id: "rejection_email_form", url: {:controller=>'admissions_admin/admissions', :action=>'review_rejection_email'}) do |f|
      %fieldset
        %ol
          %li
            = f.label :subject, "Tittel"
            = f.text_field :subject, placeholder: "f.eks 'Takk for at du søkte Samfundet'"
          %li
            = f.label :introduction, "Tekst før navn"
            = f.text_field :introduction, placeholder: "Introduksjon før navnet, f.eks 'Kjære' blir til 'Kjære Ola Normann,'"
          %li
            = f.label :content, "Innhold/tekst"
            = f.text_area :content, placeholder: "Innhold i eposten", style: "height: 300px;"
      = f.submit t("admissions_admin.review_email_button")
  %div.pl-3{style: "flex-basis: 50%;"}
    %h2= "Forhåndsvisningsning"
    %hr.compact
    #rejection-email-preview
      %p
        %b#preview-subject
      %p#preview-intro
      %p#preview-content{style: "white-space: pre-wrap;"}

