

%div.bxs{style: "border: 1px solid #aaa; border-radius: 6px; overflow: hidden;"}
  %div.p-1{style: "background: #555;"}
    %b{style: "color: white;"}= "Avslagsepost"
  .pl-2.pr-2
    %p
      %b= @template[:subject]
    %hr.compact
    %p
      %p= @template[:intro] + " <fornavn>,"
      %p{style: "white-space: pre-wrap;"}!= @template[:content]

%br

.samf-container.flex-col.p-3.text-Align.mb-3
  %h1.mt-3
    = t("admissions_admin.sending_rejection_email") + " - " + @admission.title

  = render_async send_rejection_email_result_admissions_admin_admission_path(@admission), method: 'POST', data: JSON.generate(@template),
                 headers: { 'Content-Type': 'application/json' } do
    %div
      %p.mb-2{style: "color: #666;"}
        = t("admissions_admin.sending_rejection_email_notice", count: @recipients.count)
      .loading-indicator.large.center

