
= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = t("common.back")

%h1.mb-2
  = @admission.title
.flex-column
  = link_to overview_admissions_admin_admission_path(@admission) do
    .samf-button.plain.mb-2
      = t("admissions_admin.overview_title")
  = link_to admissions_admin_admission_show_interested_other_positions_path(@admission) do
    .samf-button.blue.small.mb-2
      = t("admissions_admin.show_interested_other_positions")+"..."
  = link_to admissions_admin_admission_show_unflagged_applicants_path(@admission) do
    .samf-button.blue.small.mb-2
      = t("admissions_admin.show_unflagged_applicants")+"..."

  - if can? :manage, Admission and not @open_admissions.empty?
    = link_to admissions_admin_admission_show_applicants_missing_interviews_path(@admission) do
      .samf-button.blue.small.mb-2
        = "Vis søkere med 3 eller flere søknader, med færre enn 3 intervjuer..."

  - if can? :manage, Campus and not @open_admissions.empty?
    -#campus-system should be worked on, its major fucksy wucksie
    = link_to admin_admissions_admin_campus_index_path do
      .samf-button.green
        = t("admissions_admin.view_campus")

%h1.mt-3.mb-2
  = set_and_return_title T('admissions.my_groups')

%div
  - if @my_groups.empty?
    %li
      %p= t('admissions.no_groups')
  - elsif @my_groups.count < 5
    -# Dont group by letter if < 5
    .flex-row.wrap
      - @my_groups.sort.each do |g|
        = link_to admissions_admin_admission_group_path(@admission, g) do
          .samf-button.plain.small.mb-1.mt-1.mr-2{style: "float: left;"}
            = g.name
  - else
    -# Group by letter
    - ("A".."Å").each do |l|
      - groups = @my_groups.select { |g| g.name[0].upcase == l }.sort
      - if groups.count > 0
        %hr.compact
        .flex-row.flex-align-center
          %h1.mr-3{style: "color: #aaa; font-family: monospace;"}= l

          .flex-row.wrap
            - groups.each do |group|
              = link_to admissions_admin_admission_group_path(@admission, group) do
                .samf-button.plain.small.mb-1.mt-1.mr-2{style: "float: left;"}
                  = group.name
