%h2= set_and_return_title t('admissions_admin.statistics_page_title', admission: @admission.title)

- unless @previous_admission.nil?
  = link_to t('admissions_admin.previous_admission'), statistics_admissions_admin_admission_path(@previous_admission)
.nextButton
  - unless @next_admission.nil?
    = link_to t('admissions_admin.next_admission'), statistics_admissions_admin_admission_path(@next_admission)

.section
  %table
    %tbody
      %tr
        %td="Søkere tatt opp / Alle søkere"
        %td="#{@total_accepted_applicants.count} / #{@total_applicants.count} (#{"%.2f" % @ratio} %)"
      %tr
        %td='Stillinger'
        %td=@admission.jobs.count
      %tr
        %td='Søknader'
        %td=@admission.job_applications.count

.section
  %h3= t('admissions_admin.applications_by_group')
  = high_chart('1', @applications_per_group_chart)
  %h3= t('admissions_admin.applications_by_campus')
  = high_chart('2', @applicants_per_campus_chart)
  %h3= t('admissions_admin.applications_by_day')
  = high_chart('3', @applications_per_day_chart)
  %h3= t('admissions_admin.applications_by_hour')
  = high_chart('4', @applications_per_hour_chart)

  %h3= t('admissions_admin.unique_applicants_groups')
  %h4
    %table{:border => 1}
      %tbody
        %tr
          %td
            %strong= t('admissions_admin.unique_applicants_group_table_header')
          %td
            %strong= "#{t('admissions_admin.unique_applicants_unique_applicants_admitted_table_header')} / #{t('admissions_admin.unique_applicants_unique_applicants_table_header')}"
        - @applicants.each do |key, value|
          %tr
            %td= link_to key.name, admissions_admin_admission_group_path(@admission, key)
            %td= "#{value[:accepted].count} / #{value[:total].count} (#{"%.2f" % value[:ratio]} %)"

- unless @previous_admission.nil?
  = link_to t('admissions_admin.previous_admission'), statistics_admissions_admin_admission_path(@previous_admission)
.nextButton
  - unless @next_admission.nil?
    = link_to t('admissions_admin.next_admission'), statistics_admissions_admin_admission_path(@next_admission)
