.section
  %h2= set_and_return_title t('admissions_admin.statistics_page_title', admission: @admission.title)
  = high_chart('1', @applications_per_group_chart)
  = high_chart('2', @applicants_per_campus_chart)
  = high_chart('4', @applications_per_day_chart)

  %p
    = t('admissions_admin.unique_applicants_title',
      admission: @admission.title,
      unique_applicants: @unique_applicants_total,
      admitted_applicants: @accepted_applicants_total)

  %h3= t('admissions_admin.unique_applicants_groups')
  %h4
    %table{:border => 1}
      %tbody
        %tr
          %td
            %strong= t('admissions_admin.unique_applicants_group_table_header')
          %td
            %strong= t('admissions_admin.unique_applicants_unique_applicants_table_header')
          %td
            %strong= t('admissions_admin.unique_applicants_unique_applicants_admitted_table_header')
        - @unique_applicants_per_group.each do |key, value|
          %tr
            %td= link_to key.name, admissions_admin_admission_group_path(@admission, key)
            %td= value.count
            %td= @accepted_applicants_per_group[key]