%h2= set_and_return_title t('admissions_admin.statistics_page_title', admission: @admission.title)

= javascript_include_tag "statistics/statistics.js", defer:true
- unless @previous_admission.nil?
  = link_to t('admissions_admin.previous_admission'), statistics_admissions_admin_admission_path(@previous_admission)
.nextButton
  - unless @next_admission.nil?
    = link_to t('admissions_admin.next_admission'), statistics_admissions_admin_admission_path(@next_admission)

%h2= t("interviews.unprocessed_applicants") + " (" + @applicants_per_group.to_s + ")"

- if @applicants_per_group.to_s == ""
  %p
    = t("interviews.unprocessed_explanation")

  = render_async statistics_graph_admissions_admin_admission_path(admission_id: @admission) do
    .samf-container.flex-col.p-3.text-Align.mb-3
      %h2= t("interviews.loading_title")
      %p.mb-2{style: "color: #666;"}= t("interviews.loading_description")
      .loading-indicator.large.center

- else
  %p= t("interviews.no_unprocessed_applicants")

