%h1
  = t("helpers.models.sulten.all", :n => t("helpers.models.sulten.reservation_type.other"))

.flex-row
  = link_to sulten_admin_path do
    .samf-button.plain.mr-2
      = t("common.back")

  = link_to new_sulten_reservation_type_path do
    .samf-button.green
      = t("helpers.models.sulten.new", :n => t("helpers.models.sulten.reservation_type.one"))

%hr

%table
  %thead
    %th
      = t("sulten.reservation_type.name")
    %th
      = t("sulten.reservation_type.description")
    %th
  %tbody
    - @types.each do |t|
      %tr
        %td
          = link_to t.name, t
        %td
          = t.description
        %td
          .flex-row
            = link_to edit_sulten_reservation_type_path(t) do
              .samf-button.small.blue.mr-2
                = t("crud.edit")
            = link_to t, data: { confirm: t("crud.confirm") }, method: :delete do
              .samf-button.small.red
                = t("crud.destroy")
