.top
  %h2
    = t("events.admin_applet.title")
.options
  %ul
    - if can? :create, Event
      = link_to new_event_path do
        .samf-button.green.w100.mb-2
          = t("events.action.new")
    %li
      = link_to admin_events_path do
        .samf-button.plain.w100.mb-2
          = t("events.admin.title")
    %li
      = link_to archive_events_path do
        .samf-button.plain.w100
          = t("events.archive.title")
