- button_only = true if local_assigns[:button_only].nil? # Default value variable for partial views! \o/
- case event.purchase_status
- when Event::TICKETS_AVAILABLE
  - if !event.codeword.empty?
    - if button_only
      = link_to t('events.purchase'), event_path(event), class: 'purchase-button tickets-available no-modal'
    - else
      %form.custom-form{action: "#{event.to_param}/buy", method: "POST"}
        = hidden_field_tag :authenticity_token, form_authenticity_token
        %div
          %input{type: 'text', name: 'codeword', placeholder: t('events.codeword')}
        %div
          %input{type: 'submit', value: t('events.purchase')}
  - else
    = link_to t('events.purchase'), buy_event_path(event), class: 'purchase-button tickets-available', data: { event_id: event.to_param }
- when Event::TICKETS_SOLD_OUT
  .purchase-button.tickets-sold-out
    = t('events.sold_out')
-if event.price_type.eql? 'free_registration'
  -if event.registration_event.full?
    .purchase-button.tickets-sold-out
      = t('events.full')
  -else
    = link_to t('Sign up'), event.registration_event.link, class: 'purchase-button tickets-available no-modal'