.flex-row.mb-2.mt-2
  .p-1.ml-3{style:"flex-basis: 30%;"}
    = link_to event.title, event

  .p-1{style:"flex-basis: 17.5%;"}
    = from_to_string event

  .p-1{style:"flex-basis: 17.5%;"}
    = area_link event.area
  .p-1{style:"flex-basis: 25%;"}
    = inline_event_price event
  .p-1.ml-3{style:"flex-basis: 10%;"}
    = render "buy_button", event: event