.samf-container.flex-row.mb-1.mt-1.event-div
  .column
    = link_to event.title, event
  .column.timeArea.wrap
    .time
      = from_to_string event
    .area
      = area_link event.area
  .column.inline-price
    = inline_event_price event
  .column.button
    = render "buy_button", event: event