.search-results
  .flex-column.mobile-event
    %h2= t('search.results_title')
    - if @events.present?
      #containersearchgridview
        - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
          %h4.pl-3.p-1.title.white.bg-red= l(date, format: :medium_long)
          .listview
            %table
              %tbody
                = render events.sort_by{|event| event.start_time}

          .gridview.flex-row.mt-3.m-2.wrap.upcoming-events{:style => "display:none;justify-content: flex-start;"}
            -events.sort_by{|event| event.start_time}.each do |e|
              = render "events/event_style", event: e

    - else
      %p= t('search.no_results')
