- set_open_graph_params({ title: @event.title, description: @event.short_description, image: asset_url(@event.image_or_default.url(:large)) })
- set_twitter_params({ card: "summary_large_image", title: @event.title, description: @event.short_description, "image:src" => asset_url(@event.image_or_default.url(:large)) })
.billig-buy
  %h2
    = t('events.buy_title', event_title: @event.title)

  = form_tag Rails.application.config.billig_path, method: "post", class: 'custom-form' do
    -# Data fields to extract in JavaScript
    - ticket_table_data = "data-default-ticket-limit"
    - ticket_group_data = ["data-has-ticket-limit", "data-ticket-limit"]

    %table.ticket-table{ticket_table_data => "#{BilligTicketGroup::DEFAULT_TICKET_LIMIT}"}
      -# Translate currency and ticket unit in billig.css.scss
      - currency_unit_class = "td-currency-unit-#{I18n.locale}"
      - ticket_unit_class = "td-ticket-unit-#{I18n.locale}"

      -# Iterate through all the ticket groups
      - @ticket_groups.each_with_index do |ticket_group, i|
        -# Only use ticket group name if there are multiple ticket groups
        - ticket_group_name = @ticket_groups.length > 1 ? ticket_group.ticket_group_name : t('events.price_group')

        -# The price groups in the current ticket group
        - price_groups = ticket_group.netsale_billig_price_groups

        -# The ticket limit to use if the ticket group has no ticket limit
        - default_ticket_group_ticket_limit = BilligTicketGroup::DEFAULT_TICKET_LIMIT * price_groups.length

        -# Only use ticket limit if there are tickets left
        - ticket_group_ticket_limit = 0
        - if ticket_group.tickets_left?
          - ticket_group_ticket_limit = ticket_group.ticket_limit? ? ticket_group.ticket_limit : default_ticket_group_ticket_limit

        -# HTML attributes for use in the javascript
        - ticket_group_id = "tg#{i}"
        - ticket_group_class = "ticket-limit-#{ticket_group_ticket_limit}"

        -# Set ticket group row ( ticket group | ticket limit)
        %tr.ticket-group-row{id: ticket_group_id, ticket_group_data[0] => "#{ticket_group.ticket_limit?}", ticket_group_data[1] => "#{ticket_group_ticket_limit}"}
          %th
            = ticket_group_name

          -# Only iterate populate price group rows if ticket group has tickets left
          - if ticket_group.tickets_left?
            %th.ticket-limit-hd{colspan: 3}
              = t('events.ticket_limit', ticket_limit: ticket_group_ticket_limit)

            -# Iterate thorugh all the price groups
            - price_groups.each_with_index do |price_group, j|
              - price_group_options = ticket_group.price_group_ticket_limit

              -# Set price group row (price group | price | dropdown | temp. sum)
              %tr.price-group-row
                %td
                  = price_group.price_group_name
                %td.price{data: {price: price_group.price}, class: currency_unit_class}
                  = "#{price_group.price}"
                %td{class: ticket_unit_class}
                  = select_tag "price_#{price_group.price_group.to_s}_count",
                    options_for_select((0 .. price_group_options),
                      @payment_error_price_groups[price_group.price_group]), class: ticket_group_id, tabindex: 1
                %td.sum{class: currency_unit_class}
                  = "0"
          - else
            %th.ticket-limit-hd{colspan: 3}
              = t('events.sold_out')

      -# Order summary for all ticket groups
      %tr.ticket-summary-row
        %td
          = t('events.total')
        %td
        %td.totalAmount.ticket-data{class: ticket_unit_class}
          = "0/#{@event.total_ticket_limit}"
        %td.totalSum.ticket-data{class: currency_unit_class}
          = "0"

    %p.payment-choice
      = radio_button_tag "ticket_type", "card", @payment_error.try(:owner_cardno).present?, checked: true
      = label_tag "ticket_type_card", t('events.ticketless'), class: 'radio-label'
      = text_field_tag "cardnumber", @payment_error.try(:owner_cardno) || (current_user.try(:membership_card).try(:card) if current_user.is_a?(Member)), tabindex: 2

    %p.payment-choice
      = radio_button_tag "ticket_type", "paper", @payment_error.try(:owner_email).present?
      = label_tag "ticket_type_paper", t('events.paperticket'), class: 'radio-label'
      = email_field_tag :email, @payment_error.try(:owner_email), tabindex: 2
      = label_tag "email_confirmation", t('events.confirm_email')
      = email_field_tag :email_confirmation, @payment_error.try(:owner_email), tabindex: 3
      %span#email_feedback
        &nbsp;

    %h4
      = t('events.about_ticket')
    %ul
      %li
        = t('events.about_ticketless_html')
      %li
        = t('events.about_paperticket_html')

    .payment-wrapper
      %h3
        = t('events.payment_information')
      .payment-info
        %p
          = label_tag "ccno", t('events.visa_or_master')
          = text_field_tag "ccno", nil, maxlength: 16, tabindex: 4, autocomplete: 'off', required: true
          %span#card_feedback
            &nbsp;
        .payment-exp
          = label_tag "exp_month", t('events.expiration_month')
          = select_tag "exp_month", options_for_select(1..12), tabindex: 5, required: true
          = select_tag "exp_year", options_for_select((Time.current.year..10.years.from_now.year).map { |y| [y, y % 100] }), tabindex: 6, required: true
        .payment-cvc2
          = label_tag "cvc2","CVC2:"
          = text_field_tag "cvc2", nil, maxlength: 3, tabindex: 7, autocomplete: 'off', required: true
      .payment-verified
        = image_tag('billig/payex-swedbank.png', alt: "PayEx logo and Swedbank logo")
        = image_tag('billig/vbv-securecode.png', alt:"Verfied by VISA logo and MasterCard SecureCode logo")
        .payex
          = link_to t('events.payex'), 'http://payex.no', target: '_blank'
        .fees
          = t('events.payment_prices')
        .terms
          = link_to t('events.terms'), Page.tickets, target: '_blank'

      .payment-submit
        = submit_tag t('events.commit_buy'), name: "commit", tabindex: 8
