= javascript_include_tag 'events/grid-view', defer: true


- cache cache_key_for_events_index(@events) do
  %h1.mb-2
    = t("navigation.main.events")

  = render 'search_form', post_path: search_events_path

  .buttonsgrid
    %button.grid.samf-button.flex-align-center
      Grid View
    %button.list.samf-button.flex-align-center
      List View

  .ajax-search

  #containergridview.mt-3
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      %h4.pl-3.p-1.title.white.bg-red= l(date, format: :medium_long)
      .listview{:style => "display:none;"}
        %table
          %tbody
            = render events.sort_by{|event| event.start_time}

      .gridview.upcoming-events.flex-row.mt-3.wrap{:style => "justify-content: flex-start;"}
        -events.sort_by{|event| event.start_time}.each do |e|
          = render "events/event_style", event: e




.flex-row.center.mb-3.wrap{:style => "align-items:center;"}
  %a.samf-button.blue.mr-2.mt-2{ href: archive_events_path, title: t('events.archive.title')}
    = t('events.archive.title')
  .flex-row.mt-2
    %a.samf-button.plain.mr-1{ href: '/rss', title: t('events.rss_alt_text')}
      = t('events.rss_short_text')
    %a.samf-button.plain.ml-1{ href: '/arrangement/ical', title: t('events.ical_alt_text')}
      = t('events.ical_short_text')