= javascript_include_tag 'events/grid-view', defer: true
%script src="http://code.jquery.com/jquery-1.11.0.min.js"


- cache cache_key_for_events_index(@events) do
  %h1.mb-2
    = t("navigation.main.events")


  = render 'search_form', post_path: search_events_path
  #event-grid-button.flex-row.grid-button.ml-2.mb-1{:style => "float: right;"}
    = image_tag "icons/grid_icon.png", alt: "Samfundet", class: "br-1 bxs", style:"width:40px; margin-right:3px"
  #event-list-button.samf-button.mb-1{:style => "float: right"}
    %h8 list

  .ajax-search

  #list-event-view.upcoming-events.flex-column.mt-3
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      %div.mb-3{style: "padding-top: 0;"}
        %h4.pl-3.p-1.title.white.bg-red= l(date, format: :medium_long)
        %tbody
          = render events.sort_by{|event| event.start_time}

  #grid-event-view.upcoming-events.flex-column.mt-3{style: "display: none;"}
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      %div.mb-3{style: "padding-top: 0;"}
        %h4.pl-3.p-1.title.white.bg-red= l(date, format: :medium_long)
        .flex-row.mt-3.m-2.wrap{width: "33.3%;"}
          -events.each do |e|
            = render "events/event_grid", event: e


.flex-row.center.mb-3.wrap{:style => "align-items:center;"}
  %a.samf-button.blue.mr-2.mt-2{ href: archive_events_path, title: t('events.archive.title')}
    = t('events.archive.title')
  .flex-row.mt-2
    %a.samf-button.plain.mr-1{ href: '/rss', title: t('events.rss_alt_text')}
      = t('events.rss_short_text')
    %a.samf-button.plain.ml-1{ href: '/arrangement/ical', title: t('events.ical_alt_text')}
      = t('events.ical_short_text')