- cache cache_key_for_events_index(@events) do
  = render 'search_form', post_path: search_events_path

  .ajax-search

  .upcoming-events
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      .event-group
        %h2= l(date, format: :medium_long)
        %table.custom-table
          %tbody
            = render events.sort_by{|event| event.start_time}

    %table{style:'border:none !important; cellspacing:0; cellpadding:0'}
      %tbody
        %tr
          .links
            %td.archive{style:'text-align:center; font-weight:bold; border:none'}
              = link_to t('events.archive.title'), archive_events_path
            %td.rss{style:'text-align:center; font-weight:bold; border:none'}
              = link_to t('events.rss_alt_text'), '/rss'
            %td.calendar{style:'text-align:center; font-weight:bold'}
              = link_to t('events.ical_alt_text'), '/arrangement/ical'
