- cache cache_key_for_events_index(@events) do
  = render 'search_form', post_path: search_events_path

  .ajax-search

  .upcoming-events
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      .event-group
        %h2= l(date, format: :medium_long)
        %table.custom-table
          %tbody
            = render events.sort_by{|event| event.start_time}

    .bottom-links
      %table.custom-table
        %tbody
          %tr
            %td.archive
              = link_to t('events.archive.title'), archive_events_path
            %td.rss
              = link_to t('events.rss_alt_text'), '/rss'
            %td.calendar
              = link_to t('events.ical_alt_text'), '/arrangement/ical'
