- cache cache_key_for_events_index(@events) do
  = render 'search_form', post_path: search_events_path

  .ajax-search

  .upcoming-events-container
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      .event-group
        %h2= l(date, format: :medium_long)
        %table.custom-table
          %tbody
            = render events.sort_by{|event| event.start_time}

  .bottom-links
    %a{ href: archive_events_path, title: t('events.archive.title')}
      = image_tag("archive.svg")
      = t('events.archive.title')
    %a{ href: '/rss', title: t('events.rss_alt_text')}
      = image_tag("rss.svg")
      = t('events.rss_short_text')
    %a{ href: '/arrangement/ical', title: t('events.ical_alt_text')}
      = image_tag("calendar.svg")
      = t('events.ical_short_text')
