- cache cache_key_for_events_index(@events) do
  %h1.text-Align
    = t("navigation.main.events")

  .text-Align
    = render 'search_form', post_path: search_events_path

  .ajax-search

  .flex-column.mobile-event
    - @events.group_by {|i| i.start_time.to_date }.sort.each do |date, events|
      %div.samf-container.white.m-3{style: "padding-top: 0;"}
        %h2.text-Align.p-1.background-color.red.title.red= l(date, format: :medium_long)
        %tbody
          = render events.sort_by{|event| event.start_time}

.flex-column
  %a.samf-button.blue.center.mb-3{ href: archive_events_path, title: t('events.archive.title')}
    = t('events.archive.title')
  .center
    %a.samf-button.blue.mr-3{ href: '/rss', title: t('events.rss_alt_text')}
      = t('events.rss_short_text')
    %a.samf-button.blue.ml-3{ href: '/arrangement/ical', title: t('events.ical_alt_text')}
      = t('events.ical_short_text')