
%h2= @survey.title
- @survey.questions.each_with_index do |question, i|
  = form_tag feedback_survey_answer_path(@survey), method: 'post', class: 'feedback-form' do
    %h3= question.text  
    %ul.feedback-alternatives
      - question.alternatives.each_with_index do |alternative, j|
        %li
          = radio_button_tag "answer", alternative.text
          = label_tag "alternative_#{i}_#{j}", alternative.text
    = hidden_field_tag :token, @token
    = hidden_field_tag :event_id, @event_id
