- set_title t("feedbacks.admin.title")

%h2= t("feedbacks.feedback")

- if permitted_to? :new, :feedbacks
  %p.new
    = link_to t("feedbacks.action.new"), new_feedback_path

= render 'admin_list'

%h2= t("feedbacks.question")

- if permitted_to? :new, :feedbacks
  %p.new
    = link_to [t("crud.create"), t("feedbacks.question")].join(' '), new_feedbacks_question_path

= render 'feedbacks/questions/admin_list'
