%h2= set_and_return_title t("feedback.answers")

%p
  = link_to "Eksporter alle svar som CSV", feedback_survey_answers_path(@survey, format: :csv)

%p="Eksporter svar tilknyttet denne surveyen"
%ul
  - @survey.events.each do |event|
    %li
      = link_to event.title, survey_answers_event_path(event, format: :csv)

%h3
  Alle svar på denne spørreundersøkelsen
%table
  %tr
    %th= "Event"
    %th= "Token"
    %th= "Answer"
    %th= "Date"
    %th= "Question"
  - @answers.each do |answer|
    %tr
      %td= if answer.event_id.nil? then "None" else Event.find(answer.event_id).title end
      %td= answer.token
      %td= answer.answer
      %td= answer.date
      %td= Feedback::Question.find(answer.question_id).text

= will_paginate @answers
