.top
  %h2
    = t("pages.info_pages")
.options
  %ul
    - if can? :new, Page
      %li
        = link_to new_page_path do
          .samf-button.green.w100.mb-2
            =  t("pages.new_page")
    %li
      = link_to admin_pages_path do
        .samf-button.plain.w100
          = t("pages.admin")
