- set_title t('documents.admin')

%h1.mb-2.mt-2
  = t("documents.admin")

.flex-row.mb-3
  = link_to members_control_panel_path do
    .samf-button.plain.mr-2
      = t("common.back")

  - if can? :new, Event
    = link_to new_document_path do
      .samf-button.green
        = t('documents.new_document')

%br
%br

%table
  %thead
    %tr
      %th= t('documents.title')
      %th= t('documents.publication_date')
      %th= t('documents.uploader')
      %th
      %th
  - @categories.each do |category|
    %tbody
      %tr.category
        %td{colspan: 4}
          = category.title
      - if category.documents.empty?
        %tr.empty
          %td{colspan: 4}= t('documents.no_documents')
      - else
        - category.documents.each do |document|
          %tr
            %td= link_to document.title, document.file.url
            %td= document.publication_date
            %td= document.uploader.full_name
            %td
              - if can? :edit, document
                = link_to t('crud.edit'), edit_document_path(document)
            %td
              - if can? :destroy, document
                = link_to t('crud.destroy'), document, data: { confirm: t('documents.confirm_delete') }, method: :delete
