
= link_to admin_documents_path do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = t("documents.update")

= semantic_form_for @document, html: { multipart: true } do |f|
  = f.inputs do
    = f.input :title, label: t('documents.title')
    .flex-row
      = f.input :publication_date, input_html: { class: "datetimepicker" }, as: :string, label: t('documents.publication_date')
      = f.input :category, collection: DocumentCategory.all, include_blank: false, label: t('documents.category')
    %p.inline-hints.pt-2.pb-3
      = t('documents.publication_date_explanation')

  = f.actions do
    = f.action :submit, label: t('documents.update')
