.top
  %h2
    = t("crowd_funding.admin.applet.top")
.options
  %ul
    %li
      = link_to admin_crowd_funding_supporters_path do
        .samf-button.w100.mb-2.green
          = t("crowd_funding.admin.admin")
    %li
      = link_to crowd_funding_supporters_path do
        .samf-button.w100.mb-2.plain
          = t("crowd_funding.admin.applet.show")