%br
%h2
  = t("crowd_funding.competition.title")

= simple_format(t("crowd_funding.competition.body"))
= simple_format(t("crowd_funding.competition.read_more"))

%h2
  = t("crowd_funding.competition.student_union")
.crowd-funding-comp
  - @supporters_union.each do |supporter|
    .supporter
      .name
        = supporter.name
      .line{style: "width: #{(supporter.amount.to_f/@largest.amount)*100}%"}
        %p.amount= supporter.amount.to_s + " kr"
  .supporter
    %div
    .points
      - @points.each do |point|
        .point
          = point

%h2
  = t("crowd_funding.competition.group")
.crowd-funding-comp
  - @supporters_group.each do |supporter|
    .supporter
      = supporter.name
      .line{style: "width: #{(supporter.amount.to_f/@largest.amount)*100}%"}
        %p.amount= supporter.amount.to_s + " kr"
  .supporter
    %div
    .points
      - @points.each do |point|
        .point
          = point



- if can? :manage, CrowdFundingSupporter
  .samf-button.small.mt-3
    = link_to admin_crowd_funding_supporters_path do
      = t("crowd_funding.admin.admin")
