= semantic_form_for @supporter do |f|
  %div{:style=>"flex-basis:100%;"}
    = f.inputs name:t("info_boxes.form.header") do
      .flex-row
        = f.input :name, label: t("name")
        = f.input :name_short, label: t("groups.abbreviation")
      .flex-row
        = f.input :supporter_type, label: "Type", as: :select, collection: CrowdFundingSupporter.supporter_types.keys.map { |k| [t("crowd_funding.type.#{k}"), k]}
      .flex-row.mb-3
        = f.input :amount, label: t("crowd_funding.amount")
      .flex-row.mb-3
        = f.input :donors, label: t("crowd_funding.donors")

    = f.actions do
      = f.action :submit, label: button_type
