%h1
  = t("crowd_funding.admin.admin")

%table
  %caption
    %h2
      = t("crowd_funding.admin.all")
  %thead
    %tr
      %th
        = t("name")
      %th
        Type
      %th
        = t("crowd_funding.amount")
      %th
        %th
  %tbody
    - @supporters.each do |supporter|
      %tr
        %td
          =supporter.name
        %td
          = t("crowd_funding.type." + supporter.supporter_type)
        %td
          =supporter.amount
        %td
          = link_to edit_crowd_funding_supporter_path(supporter) do
            .samf-button.small.plain
              = t("crud.edit")
        %td
          = link_to crowd_funding_supporter_path(supporter), method: :delete, data: {confirm: "Are you sure"} do
            .samf-button.small.red.mr-2
              = t("info_boxes.delete")

.samf-button.green.mt-3
  = link_to new_crowd_funding_supporter_path do
    = t("crud.create")