.anchor-applet#sulten-applet
.top
  %h2
    = t("LYCHE")
.options
  %ul
    %li
      = link_to sulten_admin_path do
        .samf-button.green.w100.mb-2
          = t("Admin")
    %li
      = link_to sulten_admin_menu_index_path do
        .samf-button.plain.w100
          = t("sulten.lyche.header_menu.menu")
