.top
  %h2= t('areas.edit_title.generic')
.options
  = link_to everything_closed_periods_path do
    .samf-button.small.blue.w100.mb-2
      = t('everything_closed_periods.applet_link')
  %div{:style => "display: flex; flex-direction: row; flex-wrap: wrap;"}
    - @areas.each do |area|
      %div{:style => "width: calc(50% - 4px); margin-left: 2px; margin-right: 2px; margin-bottom: 4px;"}
        = link_to edit_area_path(area) do
          .samf-button.small.w100.plain
            = area.name

