- set_title t('areas.edit_title.generic')

= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = t("common.back")


%h1= t('areas.edit_title.specific', name: @area.name)

%span.mr-2= t('areas.change_venue')
= select_tag "area_select", options_from_collection_for_select(@areas, "edit_path", "name"), include_blank: true

%hr

= render 'form'
