%h1
  - if @front_page_lock.position == 0
    = t('front_page_lock.title_banner')
  - else
    = t('front_page_lock.title', position: @front_page_lock.position)

= semantic_form_for @front_page_lock do |f|
  = f.inputs do
    .flex-row{style:"align-items:center;"}
      %div{style: "min-width: 20px"}
        = f.label :lockable_type, value: Event.name do
          = f.radio_button :lockable_type, Event.name, checked: true
      %div{style: "flex: 1"}
        = f.input :event_id, as: :select, collection: options_from_collection_for_select(@upcoming_events, 'id', 'to_s', @front_page_lock.lockable_id)

    .flex-row{style:"align-items:center;"}
      %div{style: "min-width: 20px"}
        = f.label :lockable_type, value: Blog.name do
          = f.radio_button :lockable_type, Blog.name
      %div{style: "flex: 1"}
        = f.input :blog_id, as: :select, collection: options_from_collection_for_select(@blogs, 'id', 'to_s', @front_page_lock.lockable_id)

  = f.actions do
    = f.action :submit
    = f.action :cancel
