= javascript_include_tag 'job_applications/admissions_admin_job_applications', defer: true
= javascript_include_tag 'applicants/interviews', defer: true

- @applicants.each do |applicant|
  .flex-row
    = applicant.full_name.to_s + ", "
    = applicant.top_priority_job_application_at_group(@admission, @group).job.title_no

- if @applicants.count > 0
  = render partial: "show_applicants"
