
%h2= @feedback.title
- @feedback.questions.each_with_index do |question, i|
  = form_tag feedback_answer_path(@feedback), method: 'post', class: 'feedback-form' do
    %h3= question.text  
    %ul.feedback-alternatives
      - question.alternatives.each_with_index do |alternative, j|
        %li
          = radio_button_tag "alternative[#{i}]", j
          = label_tag "alternative_#{i}_#{j}", alternative.text
    = submit_tag()

