= semantic_form_for @feedback, html: { multipart: true } do |f|
  = f.inputs do
    = f.semantic_fields_for :questions do |q|
      = render 'question_fields', q: q
 
    = link_to_add_association t('feedbacks.questions.add'), f, :questions
  = f.actions
