.nested-fields
  = f.inputs do
    = f.input :text
    = "Hello"
    = f.semantic_fields_for :alternatives do |a|
      = render "alternative_fields", f: a
  = link_to_add_association t("crud.add"), f, :alternatives
  = link_to_remove_association t("feedbacks.question.delete"), f
