.nested-fields
  = q.inputs do
    = q.input :text
    = q.input :alternative_1
    = q.input :alternative_2
    = q.input :alternative_3
    = q.input :alternative_4
    = link_to_remove_association t("feedbacks.question.delete"), q 
