- set_title t('documents.index_title')

.cover-photo

- if permitted_to? :manage, :documents
  .admin-choices
    %ul
      - if permitted_to? :new, :documents
        %li
          = link_to t("documents.new_document"), new_document_path
      %li
        = link_to t("documents.admin"), admin_documents_path


.content
  %h1= t('feedbacks.index_title')

  .category-list

  - @feedbacks.each do |feedback|
    - feedback.questions.each do |question|
      %h2= question.text
      %ul
        %li= question.alternative_1
        %li= question.alternative_2
        %li= question.alternative_3
        %li= question.alternative_4

        
