- set_title t('feedbacks.index_title')

.cover-photo

- if permitted_to? :manage, :feedbacks
  .admin-choices
    %ul
      - if permitted_to? :new, :feedbacks
        %li
          = link_to t("feedbacks.admin.new"), new_feedback_path
      %li
        = link_to t("feedbacks.admin.title"), admin_feedbacks_path


.content
  %h1= t('feedbacks.index_title')

  .category-list

  - @feedbacks.each do |feedback|
    - feedback.questions.each do |question|
      %h2= question.text
      %ul
        %li= question.alternative_1
        %li= question.alternative_2
        %li= question.alternative_3
        %li= question.alternative_4

        
