.top
  %h2
    = t("roles.admin_applet_title")
.options
  %ul
    %li
      = link_to roles_path do
        .samf-button.green.w100.mb-2
          = t("roles.admin_applet_description")

    - if can? :manage, Role
      %li
        = link_to members_show_roles_path do
          .samf-button.plain.w100.mb-2
            = t("roles.search_by_member")
