= javascript_include_tag 'applicants/interviews', defer: true
= javascript_include_tag 'job_applications/admissions_admin_job_applications', defer: true

= link_to roles_path do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = t('roles.one_year_old_title')
%br

%table.roles.custom-table.sorted
  %thead
    %th= t('roles.member_name')
    %th= t('roles.active_membership')
    %th= t('roles.title')
    %th= t('roles.date_assigned')

  %tbody
  - @older_than_one_year.each do |members_role|
    %tr
      %td
        = members_role.member.full_name
      %td
        = t(members_role.member.active_membership?)
      %td
        = link_to members_role.role, members_role.role
      %td
        = members_role.created_at
      %td
        = link_to t('roles.remove_member'),
                  [members_role.role, members_role],
                  method: :delete,
                  data: { confirm: t('crud.confirm') }
