- if can? :manage, FrontPageLock
  - lock = FrontPageLock.find_by_position(index)
  - if lock.try(:lockable)
    .front-page-lock-actions
      = link_to edit_front_page_lock_path(lock) do
        .samf-button.plain.small
          = t('site.index.change_lock')
      = link_to clear_front_page_lock_path(lock), method: :post do
        .samf-button.plain.small
          = t('site.index.clear_lock')
  - else
    = link_to edit_front_page_lock_path(index) do
      .samf-button.plain.small
        = t('site.index.add_lock')
