
.info_box.flex-row.flex-align-center
  .picture
    = link_to Page.new_building_info, target: "_blank" do
      .locked-border
      = image_tag 'ny_bygg.png', alt: 'Ny bygg er veldig kult!'

  .info_text
    = link_to Page.new_building_info, target: "_blank" do
      .title
        = t('site.index.info_box_title')
      .info_text_body
        = t('site.index.info_box_body')