- @info_boxes.each do |info_box|
  .info_box.flex-align-center{class:info_box.color}
    .picture
      = link_to info_box.link do
        = background_image_helper "picture", info_box.image_or_default, size: :medium
    .info_text
      = link_to info_box.link do
        .info_text_title
          = info_box.title
        .info_text_body
          = info_box.body

      - if can? :manage, FrontPageLock
        = link_to edit_info_box_path(info_box) do
          .samf-button.white.mt-3
            edit
        = link_to info_box_path(info_box), method: :delete, data: {confirm: "Are you sure"} do
          .samf-button.mt-3
            delete

- if can? :manage, FrontPageLock
  .flex-row.center.mb-3
    .samf-button.green.mr-3
      = link_to "new info box", new_info_box_path
    .samf-button.mr-3
      = link_to "see all info boxes", info_boxes_path
