- @info_boxes.each do |info_box|
  .info_box.flex-align-center
    .picture
      = image_tag info_box.image.to_s
    .info_text
      = link_to info_box do
        .info_text_title
          = info_box.title
        .info_text_body
          = info_box.body

      - if can? :manage, FrontPageLock
        .samf-button.blue.mt-3
          = link_to "Edit", edit_info_box_path(info_box)
        .samf-button.red.mt-3
          = link_to "Delete", info_box_path(info_box), method: :delete, data: {confirm: "Are you sure"}

- if can? :manage, FrontPageLock
  .samf-button.green.center.mb-3
    = link_to "new info box", new_info_box_path
