.upcoming-event

  .ribbon-image-wrapper
    = link_to event do
      = background_image_helper "picture", event.image_or_default, size: :medium
      - if event.front_page_lock && (can? :manage, FrontPageLock)
        .locked-border
          = image_tag "fontawesome/lock24.svg", alt: "Padlock"
      = render 'events/corner_ribbon', event: event

  .event-info
    .what
      = "%s // %s" % [t_event_type(event), event.area_title]
      = I18n.l(event.start_time, format: :short)

    .title-row
      .title
        = link_to event.title, event
      = render "events/buy_button", event: event

    = render 'front_page_lock', index: index


  -#.description
    -#= render "events/buy_button", event: event
    -#%p
      -#= event.short_description
