= render 'admissions_frontpage_highjack'
- set_open_graph_params({ title: t('site.index.og_title'), description: t('site.index.og_description'), image: 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})
- set_twitter_params({ card: "summary_large_image", title: t('site.index.og_title'), description: t('site.index.og_description'), 'image:src' => 'https://www.samfundet.no/upload/images/image_files/000/001/669/original/logo_samf.no.png?1538501206'})

= render 'banner_image', banner_event: @banner_event


-# = safe_join(flash[:success], "<br>".html_safe)
- content_for :banner_image do
  %div{:style => "max-height: 0; overflow: visible; position:relative; top:-36px;"}
    - if can? :manage, FrontPageLock
      - if @banner_event.try(:front_page_lock)
        = link_to edit_front_page_lock_path(@banner_event.front_page_lock), id: 'banner-image-edit' do
          .samf-button.black.center.small
            = t('site.index.change_banner_lock')
      - else
        = link_to edit_front_page_lock_path(FrontPageLock::BANNER_ID), id: 'banner-image-edit' do
          .samf-button.black.center.small
            = t('site.index.add_banner_lock')

-# Crowdfunding link on front page
- if DateTime.now.year == 2022
  = link_to crowd_funding_supporters_path do
    .samf-container.small.red.text-Align
      .mt-3.mb-3
        = t("site.index.new_building_crowdfunding_description")
        %b= t("site.index.new_building_crowdfunding_link")


= render 'hero_unit'
= render 'upcoming_events'
= render 'info_boxes'


.flex-column.flex-align-center
  = link_to events_path do
    .samf-button.plain
      = t('site.index.show_more')

%br
%br
%br