%div.pt-3.m-1
  %table
    %thead
      %tr
        %th= t("new_building.index.table.name")
        %th.new-building-table
        %th{style:"text-align: center"}= t("new_building.index.table.email")
    %tbody
      %tr
        %td
          Jostein Løwer
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.leader")
        %td{style:"text-align: center"}
          nybygg-leder@samfundet.no
      %tr
        %td
          Agnete Djupvik
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.process_leader")
        %td{style:"text-align: center"}
          prosessleder@samfundet.no
      %tr
        %td
          Andreas
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.SNKmember")
        %td{style:"text-align: center"}
      %tr
        %td
          Oda Sofie Sundet
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.operating")
        %td{style:"text-align: center"}
          nybygg-drift@samfundet.no
      %tr
        %td
          Allegra Farrah Torstensen
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.serving")
        %td{style:"text-align: center"}
          nybygg-servering@samfundet.no
      %tr
        %td
          Mikkel Hofstad
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.arranging")
        %td{style:"text-align: center"}
          nybygg-arrangement@samfundet.no
      %tr
        %td
          Patrick Moen Allport
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.scene_technical")
        %td{style:"text-align: center"}
          nybygg-sceneteknisk@samfundet.no
      %tr
        %td
          Fredrik Akre
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.board_member")
        %td{style:"text-align: center"}
          leder@samfundet.no
      %tr
        %td
          Gunnar Gudlaugur Gunnarsson
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.SNKmember")
        %td{style:"text-align: center"}
      %tr
        %td
          Kim Arvid Leon Tran
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.SNKmember")
        %td{style:"text-align: center"}
      %tr
        %td
          Rikke Storvik Sjøhelle
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.artisic")
        %td{style:"text-align: center"}
          nybygg-kunst@samfundet.no
      %tr
        %td
          Frida Jerve
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.pr")
        %td{style:"text-align: center"}
          nybygg-pr@samfundet.no