%div.pt-3.m-1.mt-3

  %table
    %thead
      %tr
        %th= t("new_building.index.table.name")
        %th.new-building-table
        %th{style:"text-align: center"}= t("new_building.index.table.email")
    %tbody
      %tr
        %td
          Trygve Poppe
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.leader")
        %td{style:"text-align: center"}
          nybygg-leder@samfundet.no
      %tr
        %td
          Simen Vestad
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.process_leader")
        %td{style:"text-align: center"}
          prosessleder@samfundet.no
      %tr
        %td
          Mathilde Meling
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.studentmedia")
        %td{style:"text-align: center"}
          nybygg-sm@samfundet.no
      %tr
        %td
          Ivar Haugland
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.operating")
        %td{style:"text-align: center"}
          nybygg-drift@samfundet.no
      %tr
        %td
          Brede Haugland
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.serving")
        %td{style:"text-align: center"}
          nybygg-servering@samfundet.no
      %tr
        %td
          Emil Castillo
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.arranging")
        %td{style:"text-align: center"}
          nybygg-arrangerende@samfundet.no
      %tr
        %td
          Helene Rollheim Melby
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.scene_technical")
        %td{style:"text-align: center"}
          nybygg-sceneteknisk@samfundet.no
      %tr
        %td
          Nikolaus Wieland
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.board_member")
        %td{style:"text-align: center"}
          styret@samfundet.no
      %tr
        %td
          Hanne Daltveit
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.artisic")
        %td{style:"text-align: center"}
          nybygg-kunst@samfundet.no
      %tr
        %td
          Elise Anfinsen
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.skp")
        %td{style:"text-align: center"}
          skp-leder@samfundet.no