%div.pt-3.m-1.mt-3

  %table
    %thead
      %tr
        %th= t("new_building.index.table.name")
        %th.new-building-table
        %th{style:"text-align: center"}= t("new_building.index.table.email")
    %tbody
      %tr
        %td
          Trygve Poppe
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.leader")
        %td{style:"text-align: center"}
          nybygg-leder@samfundet.no
      %tr
        %td
          Agnete Djupvik
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.process_leader")
        %td{style:"text-align: center"}
          prosessleder@samfundet.no
      %tr
        %td
          Mathilde Meling
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.studentmedia")
        %td{style:"text-align: center"}
          nybygg-sm@samfundet.no
      %tr
        %td
          Oda Sofie Sundet
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.operating")
        %td{style:"text-align: center"}
          nybygg-drift@samfundet.no
      %tr
        %td
          Bjørnar Gullikstad Hems
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.operating")
        %td{style:"text-align: center"}
          nybygg-drift@samfundet.no
      %tr
        %td
          Thilde Alice Andersen Waage
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.serving")
        %td{style:"text-align: center"}
          nybygg-servering@samfundet.no
      %tr
        %td
          Anna Bødtker
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.arranging")
        %td{style:"text-align: center"}
          nybygg-arrangement@samfundet.no
      %tr
        %td
          Max Meinich
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.scene_technical")
        %td{style:"text-align: center"}
          nybygg-sceneteknisk@samfundet.no
      %tr
        %td
          Annika Taule
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.board_member")
        %td{style:"text-align: center"}
          styret@samfundet.no
      %tr
        %td
          Rikke Storvik Sjøhelle
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.artisic")
        %td{style:"text-align: center"}
          nybygg-kunst@samfundet.no
      %tr
        %td
          Frida Jerve
        %td.new-building-table{style:"text-align: center"}= t("new_building.index.table.pr")
        %td{style:"text-align: center"}
          nybygg-pr@samfundet.no