=javascript_include_tag "new_building/faq-dropdown", defer: true


%h1.mt-3.headline-faq{id: "faq"}
  = "FAQ"

.question-container
  .accordion
    = t("new_building.index.faq.question1")
  .panel
    %p=t("new_building.index.faq.answer1")

.question-container
  .accordion
    = t("new_building.index.faq.question2")
  .panel
    %p=t("new_building.index.faq.answer2")

.question-container
  .accordion
    = t("new_building.index.faq.question3")
  .panel
    %p=t("new_building.index.faq.answer3")

.question-container
  .accordion
    = t("new_building.index.faq.question4")
  .panel
    %p=t("new_building.index.faq.answer4")

.question-container
  .accordion
    = t("new_building.index.faq.question5")
  .panel
    %p=t("new_building.index.faq.answer5")

.question-container
  .accordion
    = t("new_building.index.faq.question6")
  .panel
    %p=t("new_building.index.faq.answer6")

.question-container
  .accordion
    = t("new_building.index.faq.question7")
  .panel
    %p=t("new_building.index.faq.answer7")

.question-container
  .accordion
    = t("new_building.index.faq.question8")
  .panel
    %p=t("new_building.index.faq.answer8")

.question-container
  .accordion
    = t("new_building.index.faq.question9")
  .panel
    %p=t("new_building.index.faq.answer9")

.question-container
  .accordion
    = t("new_building.index.faq.question10")
  .panel
    %p=t("new_building.index.faq.answer10")

