=javascript_include_tag "new_building/faq-dropdown", defer: true


%h1.mt-3.headline-faq
  = "FAQ"

.question-container
  .accordion
    = "Når er det ferdig?"
  .panel
    %p Målet er å være ferdig ved årskiftet 2023/2024

.question-container
  .accordion
    = "Hva blir nytt i nybygg?"
  .panel
    %p Det blir mange nye serveringslokaler, samt tre nye scener

.question-container
  .accordion
    = "Hvordan blir det i byggeperioden?"
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Kommer det til å bli forsinket?"
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Hvor mye koster det?"
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Hvordan påvirker det eksisterende bygg? "
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Hva blir annerledes i eksisterende bygg?"
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Hvor stor kapasitet har de ulike scenene?"
  .panel
    %p Lorem ipsum...

.question-container
  .accordion
    = "Hvor stor kapasitet får Nybygg og gamle Samfundet tilsammen?"
  .panel
    %p Lorem ipsum...


