= semantic_form_for [:admissions_admin, @job.admission, @job.group, @job] do |form|
  = form.inputs do
    .flex-row
      != form.input :title_no
      != form.input :title_en
    .flex-row
      != form.input :teaser_no
      != form.input :teaser_en
    .flex-row
      != form.input :description_no, as: :text,
                    hint: t('common.markdown_hint').html_safe
      != form.input :description_en, as: :text,
                    hint: t('common.markdown_hint').html_safe
    .flex-row
      != form.input :default_motivation_text_no, as: :text
      != form.input :default_motivation_text_en, as: :text
    - if @job.admission.customized_groups
      != form.input :custom_group_type, :placeholder => t('jobs.only_customized_admission')
      != form.input :custom_group, :placeholder => t('jobs.only_customized_admission')
    != form.input :is_officer, as: :boolean
    != form.input :tag_titles, as: :string, :placeholder => t('jobs.create_tags_example')
  = form.actions do
    != form.action :submit
