

- if @groupings.present?
  - job_application_groupings = @groupings
  - show_job_titles = false

.flex-row.flex-align-center
  #show_color_explanations.samf-button.plain.small
    = t("interviews.show_color_explanation")
  .p-2
    %input#colorblind_mode{type:"checkbox", checked: false}
      =t('interviews.colorblind_mode')

#color_explanations.display-none
  .samf-container.mt-3{class:"color_description", style:"overflow:hidden; color: black;"}
    %div.p-1{ style: "background-color: #81fc62"}= t('interviews.green_explanation')
    %div.p-1{ style: "background-color: #D6FFCC"}= t('interviews.bright_green_explanation')
    %div.p-1{ style: "background-color: #FFF5BC"}= t('interviews.yellow_explanation')
    %div.p-1{ style: "background-color: #FFE1E0"}= t('interviews.pink_explanation')
    %div.p-1{ style: "background-color: #FFABA8"}= t('interviews.red_explanation')
    -#%div.p-1{ style: "background-color: grey"}= t('interviews.grey_explanation')

  .samf-container.mt-3{class:"color_description display-none", style:"overflow:hidden; color: white;"}
    %div.p-1{ style: "background-color: #16536A"}= t('interviews.blue_explanation')
    %div.p-1{ style: "background-color: #38758B"}= t('interviews.bright_blue_explanation')
    %div.p-1{ style: "background-color: #CEC000"}= t('interviews.yellow_explanation')
    %div.p-1{ style: "background-color: #e66a6a"}= t('interviews.pink_explanation')
    %div.p-1{ style: "background-color: #d65252"}= t('interviews.red_explanation')
    -#%div.p-1{ style: "color: grey"}= t('interviews.grey_explanation')




%table.applications.custom-table.sorted
  %thead
    %th.number
      = t('interviews.applicant_number')
    %th.name
      = t('interviews.applicant_name')
    %th.phone
      = t('interviews.applicant_phone_number')
    %th.email
      = t('interviews.applicant_email_address')
    %th.campus
      = t('interviews.applicant_campus')
    - if show_job_titles
      %th.job_title
        = t('interviews.job')
    %th.interview-time
      = t('interviews.interview_time')
    %th.location
      = t('interviews.location')
    %th.application-status
      = t('interviews.interview_priority')
    %th.status
      = "Status"
    %th.applicant_ranking
      = t('interviews.applicant_ranking')
    %th.interviews_set
      = t('interviews.interviews_set')
    %th.comment
      = t('interviews.comment')

  %tbody{class: "job_application_table hide-rejected hide-withdrawn"}
    - job_application_groupings.each do |job_applications|
      - job_applications.each_with_index do |job_application, index|

        - tr_class = "#{job_application.assignment_status}"
        - if job_application.rejected_and_not_contacted?
          - tr_class += " rejected"

        %tr{id: "application-#{job_application.id}", class: tr_class}
          %td
            = index+1
          %td
            = link_to admissions_admin_admission_group_job_job_application_path(@admission, @group, job_application.job, job_application) do
              = job_application.applicant.full_name
          %td= link_to job_application.applicant.phone, "tel:#{job_application.applicant.phone}"
          %td= mail_to job_application.applicant.email
          %td= job_application.applicant.campus
          - if show_job_titles
            %td= job_application.title
          %td{style: "width:120px;"}
            = semantic_form_for([:admissions_admin, @admission, @group, job_application.job, job_application, interview = job_application.find_or_create_interview], namespace: "interview_#{interview.id}", html: {class: "test custom-form"}) do |form|
              = form.inputs do
                != form.input :time, as: :string, label: false, name: "time", input_html: { id: "interview_#{job_application.id}_time", class: "datetimepicker", value: interview.time ? interview.time : '', placeholder: "DD.MM.ÅÅÅÅ HH:MM" }
              %span{ class: "status" }
              = form.actions do
                != form.action :submit, button_html: { class: "interview_save", value: t('interviews.save_interview_time') }
          %td
            = semantic_form_for([:admissions_admin, @admission, @group, job_application.job, job_application, interview = job_application.find_or_create_interview], namespace: "interview_#{interview.id}", html: {class: "test custom-form"}) do |form|
              = form.inputs do
                != form.input :location, label: false, name: "location", input_html: { id: "interview_#{job_application.id}_location", placeholder: t('interviews.location') }
              %span{ class: "status" }
              = form.actions do
                != form.action :submit, button_html: { class: "interview_save", value: t('interviews.save_interview_location') }
          %td
            = semantic_form_for([:admissions_admin, @admission, @group, job_application.job, job_application, interview = job_application.find_or_create_interview], namespace: "interview_#{interview.id}", html: {class: "test custom-form"}) do |form|
              = form.inputs do
                != form.input :priority, name: "priority", as: :select, label: false, required: true, value: interview.priority, collection: interview.priorities.invert.sort, input_html: { id: "interview_#{job_application.id}_priority", disabled: interview.past_set_priority_deadline? }
              %span{ class: "status" }
              = form.actions do
                != form.action :submit, button_html: { class: "interview_save", value: t('interviews.save_interview_status') }
          %td
            = semantic_form_for([:admissions_admin, @admission, @group, job_application.job, job_application, interview = job_application.find_or_create_interview], namespace: "interview_#{interview.id}", html: {class: "test custom-form"}) do |form|
              = form.inputs do
                != form.input :applicant_status, name: "applicant_status", as: :select, label: false, required: true, value: interview.applicant_status, collection: interview.applicant_statuses.invert, input_html: { id: "interview_#{job_application.id}_applicant_status"}
              = form.actions do
                != form.action :submit, button_html: { class: "interview_save", value: t('interviews.save_interview_status') }
              %span{ class: "status" }
          %td
            = job_application.applicant.priority_of_job_application(@admission, job_application).to_s + " / " + job_application.applicant.jobs_applied_to(@admission).length.to_s
          %td
            = job_application.applicant.get_set_interviews.length.to_s + " / " + job_application.applicant.jobs_applied_to(@admission).length.to_s
          -#%td
          -#  - if job_application.last_log_entry
          -#    = link_to admissions_admin_admission_group_job_job_application_path(@admission, @group, job_application.job, job_application, anchor: 'new_log_entry') do
          -#      = job_application.last_log_entry.log
          -#%td
          -#  = semantic_form_for(job_application.applicant, namespace: "interview_#{interview.id}", html: {class: "test custom-form interview"}) do |form|
          -#    = form.inputs do
          -#      != form.input :interested_other_positions, label: false, as: :select, required: true
          -#    %span{ class: "status" }
          -#    = form.actions do
          -#      != form.action :submit, button_html: { class: "interview_Save", value: 'save'}
          %td
            = semantic_form_for([:admissions_admin, @admission, @group, job_application.job, job_application, interview = job_application.find_or_create_interview], namespace: "interview_#{interview.id}", html: {class: "test custom-form"}) do |form|
              = form.inputs do
                != form.input :comment, label: false, input_html: { rows: 2, cols: 7}
              %span{ class: "status" }
              = form.actions do
                != form.action :submit, button_html: { class: "interview_save", value: 'save' }


- if job_application_groupings.empty?
  %p Ingen søknader
