%h1= t('contact.title')
%p= simple_format t('contact.text')
%p= mail_to 'post@samfundet.no', t('contact.general_questions') + '/' + t('contact.payment_problem')
%p= mail_to 'redaksjon@samfundet.no', t('contact.content_problem')
%p= mail_to 'mg-web@samfundet.no', t('contact.tech_problem')
