- set_title T('job_applications.applications_for_group', group_name: @group.name)

- if can? :manage, Admission
  = link_to admissions_admin_admission_path(@admission) do
    .samf-button.plain.mb-3
      = T('common.back')
- else
  = link_to members_control_panel_path do
    .samf-button.plain.mb-3
      = t("common.back")

%h1.mt-3.mb-2
  = @group.name
  &ndash;
  = @admission.title

.flex-row.mb-3
  - if can?(:create, Job)
    = link_to new_admissions_admin_admission_group_job_path(@admission, @group) do
      .samf-button.green.mr-2
        = t('jobs.create')
    = link_to admissions_admin_admission_group_show_applicants_with_missing_interviews_path(@admission, @group) do
      .samf-button.orange.mr-2
        = "Søkere som mangler intervjutider"
    = link_to applications_admissions_admin_admission_group_path(@admission, @group) do
      .samf-button.plain
        = t('admissions.show_all_applications')

- if @admission.customized_groups
  - @custom_groups_jobs.each do |jobs|
    - unless jobs[0].empty?
      %h2
        = jobs[0]
    - else
      %br
    = render partial: 'jobs', locals: { jobs: jobs[1], admission: @admission }
- else
  = render partial: 'jobs', locals: { jobs: @jobs, admission: @admission }

%p
  = t('admissions.group_information', group_name: @group.name, n_applications: @n_applications, n_jobs: @n_jobs, n_applicants: @n_applicants)


.flex-row.wrap.mt-3
  = link_to applications_admissions_admin_admission_group_path(@admission, @group, format: :csv) do
    .samf-button.small.plain.mr-2.mb-2
      = t('admissions_admin.export_to_csv')

  = link_to admissions_admin_admission_show_interested_other_positions_path(@admission) do
    .samf-button.small.plain.mr-2.mb-2
      = t('admissions_admin.show_interested_other_positions')
  -# = link_to reject_calls_admissions_admin_admission_group_path do
  -#   .samf-button.small.plain.mr-3.mb-2
  -#     = t('admissions_admin.reject_calls', group_name: @group.name)


%hr

%h2.mb-3
  = t("admissions.statistics")

%p
  = high_chart('1', @applications_per_day_chart)
