- set_title "Søkere med krav på intervju i " + @group.name
= javascript_include_tag 'applicants/interviews', defer: true

= link_to admissions_admin_admission_group_path(@admission, @group) do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = "Søkere med krav på intervju"

%h2
  = @group.name
  &ndash;
  = @admission.title

- if @top_job_applications.empty?
  %p= "Ingen søkere mangler intervju!"
- else
  %p
    = "Denne oversikten viser alle søkere i denne gjengen som ikke har noen intervjuer satt."
    = "Oversikten viser vervet som søkeren har prioritert høyest i gjengen, og hvilken prioritet den er satt til."
    = "Oversikten er sortert etter søkers prioritet av vervet."
  %table.compact.mt-3
    %thead
      %th= "Navn"
      %th= "Prioritet"
      %th= "Verv"
      %th= "Telefon"
      %th= "Epost"
      %th= "Antall verv søkt"

    %tbody
      - @top_job_applications.each do |application|
        - priority, job_application, job_name, full_name, phone_number, email, number_of_jobs_applied_to = application

        .flex-row
          %tr{style: "background-color: #ccf9cd;"}
            %td
              = link_to admissions_admin_admission_group_job_job_application_path(@admission, @group, job_application.job, job_application) do
                = full_name
            %td{style: "font-weight: bold;"}
              = priority
            %td
              = link_to admissions_admin_admission_group_job_path(@admission, @group, job_application.job) do
                = job_name
            %td= phone_number
            %td= email
            %td{style: "font-weight: bold;"}
              = number_of_jobs_applied_to
