- set_title T('job_applications.applications_for_group', group_name: @group.name)

= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = T('common.back')

%h1.mt-3.mb-2
  = @group.name
  &ndash;
  = @admission.title

.flex-row.mb-3
  - if can?(:create, Job)
    = link_to new_admissions_admin_admission_group_job_path(@admission, @group) do
      .samf-button.green.mr-2
        = t('jobs.create')
  = link_to applications_admissions_admin_admission_group_path(@admission, @group) do
    .samf-button.plain
      = t('admissions.show_all_applications')

%table
  %thead
    %tr
      %th= t('groups.job_title')
      %th= t('groups.job_type')
      %th= t('groups.applicants')
      %th
      %th
      - if @should_show_delete_button
        %th
  %tbody
    - @jobs.each do |job|
      %tr
        %td
          = link_to admissions_admin_admission_group_job_path(@admission, @group, job) do
            = job.title
        %td
          - if job.is_officer
            = t('common.officer')
          - else
            = t('common.group_member')
        %td
          = job.job_applications.count
        %td{:style => "float:right;"}
          - if can?(:edit, Job, job)
            != link_to edit_admissions_admin_admission_group_job_path(@admission, @group, job) do
              .samf-button.small.blue
                = t('groups.edit_job')
        - if @should_show_delete_button
          %td
            - if can?(:destroy, Job, job) && !job.job_applications.exists?
              != link_to t('groups.delete_job'), admissions_admin_admission_group_job_path(@admission, @group, job), method: "delete", data: { confirm: t('crud.confirm') }
        %td{:style => "float:right;"}
          != link_to job do
            .samf-button.small.plain
              = t('groups.job_listing')
%p
  = t('admissions.group_information', group_name: @group.name, n_applications: @n_applications, n_jobs: @n_jobs, n_applicants: @n_applicants)

.flex-row.wrap.mt-3

  = link_to admissions_admin_admission_show_interested_other_positions_path(@admission) do
    .samf-button.small.plain.mr-2.mb-2
      = t('admissions_admin.show_interested_other_positions')
  = link_to reject_calls_admissions_admin_admission_group_path do
    .samf-button.small.plain.mr-3.mb-2
      = t('admissions_admin.reject_calls', group_name: @group.name)


%hr

%h2.mb-3
  = t("admissions.statistics")

%p
  = high_chart('1', @applications_per_day_chart)
