
%h1= "Rediger Søker '" + @applicant.firstname + " " + @applicant.surname + "'"

= semantic_form_for @applicant do |form|
  = form.semantic_errors :applicant

  = form.inputs name: t("applicants.forms.register.personal_information") do
    .flex-row
      != form.input :firstname
      != form.input :surname

  = form.inputs name: t("applicants.forms.register.login_information") do
    .flex-row
      != form.input :email
      != form.input :phone
    .flex-row
      != form.input :password, input_html: { value: "" }, hint: "La stå tomt for å ikke endre passord!"
      != form.input :password_confirmation, input_html: { value: "" }
      != hidden_field :old_password, input_html: { value: "ADMIN" }

  = form.inputs name: t("applicants.forms.register.extra_information") do
    .select
      != form.input :interested_other_positions, as: :select

  = form.actions do
    != submit_tag t("applicants.forms.edit.submit")