
%h2= t('admissions_admin.unlogged_applicants')

- unless @applicants.empty?
  %p= link_to "« " + t('common.back').capitalize, admissions_admin_admission_path(@admission)
  %p= link_to t('admissions_admin.export_unlogged_applicants'), admissions_admin_admission_show_unlogged_applicants_path(@admission, format: :csv)
  = semantic_form_for :log_entry, method: :post do |f|
    .log_all_container
      = f.input :log, as: :select, collection: @log_entries, input_html: { class: 'log_selector' }, label: false;
      = f.submit t('admissions_admin.log_all_unlogged_applicants'), data: { confirm: t('crud.confirm') }, class: 'log_all_button'
- else
  %p= t('admissions_admin.all_applicants_logged')

- @group_jobs.each do |group, job_applications|
  %h3= link_to group.name, admissions_admin_admission_group_path(@admission, group)
  %table
    %thead
      %th= t('interviews.applicant_name')
      %th= t('applicants.email')
      %th= t('sulten.reservation.telephone')
      %th= t('activerecord.models.log_entry.one').capitalize
      %th= ''
      %tbody
        - job_applications.each do |job_application|
          %tr
            %td= link_to job_application.applicant.full_name, admissions_admin_admission_group_job_job_application_path(@admission, group, job_application.job, job_application)
            %td= job_application.applicant.email
            %td= job_application.applicant.phone
            = semantic_form_for :log_entry, url: admissions_admin_admission_show_unlogged_applicants_url(@admission), method: :patch do |f|
              %input{ type: :hidden, name: :applicant_id, value: job_application.applicant.id}
              %input{ type: :hidden, name: :admission_id, value: @admission.id }
              %input{ type: :hidden, name: :group_id, value: group.id }
              %td= f.input :log, as: :select, collection: @log_entries, input_html: { class: 'log_selector' }, label: false;
              %td= f.submit t('formtastic.save')

%p= link_to "« " + t('common.back').capitalize, admissions_admin_admission_path(@admission)