
= link_to admissions_admin_admission_path(@admission) do
  .samf-button.plain.mb-3
    = t("common.back")

%h1=t('admissions_admin.applicant_dont_get_position')
%p=t('admissions_admin.reserved_applicants')

%hr

- @applicants.each do |applicant|
  .flex-row
    %h2
      = applicant.full_name
      -#= link_to applicant.full_name, applicant
  .flex-column
    .flex-row
      %strong.mr-2= t("helpers.label.applicant.phone") + ":"
      = applicant.phone
    .flex-row
      %strong.mr-2= t("helpers.label.applicant.email") + ":"
      = applicant.email
    - applicant.job_applications.each do |application|
      %p
        = application.job.group.name
        \-
        = application.job.title
        %strong= application.interview.priority_string

- if @applicants.blank?
  %p
    #{t('admissions_admin.reprioritisation_deadline')}
    = l(@admission.admin_priority_deadline)
