= javascript_include_tag 'applicants/admissions_admin_applicants', defer: true

= link_to admissions_admin_admission_path(@admission) do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = t('admissions_admin.applicants_set_to_reserve')
%p
  %input#show_reserved{type:"checkbox", checked: true}
    = t('admissions_admin.show_reserved_applicants')
  %br
  %input#show_not_set{type:"checkbox", checked: true}
    = t('admissions_admin.show_not_set_applicants')

%hr

- @applicants.each do |applicant|
  .applicant{class: "display-none #{applicant.flagged?(@admission) ? '' : 'not_set display-not-set'} #{applicant.reserved?(@admission) ? 'reserved display-reserved' : ''}"}
    .flex-row
      %h2
        = applicant.full_name
    .flex-column.mb-3
      .flex-row
        %strong.mr-2= t("helpers.label.applicant.phone") + ":"
        = applicant.phone
      .flex-row
        %strong.mr-2= t("helpers.label.applicant.email") + ":"
        = applicant.email
    - applicant.job_applications.each do |application|
      .application{id:"application-#{application.id}", class: "display-none #{application.interview.priority == nil ? 'not_set display-not-set' : ''} #{application.interview.priority == :reserved ? 'reserved display-reserved' : ''}"}
        - if application.interview.priority == :reserved || application.interview.priority == nil
          %p
            = application.job.group.name
            \-
            = link_to application.job.title, admissions_admin_admission_group_job_path(@admission, application.job.group, application.job)
            %strong{:style => "color: #961E21"}= application.interview.priority_string
    %br
    %hr

- if @applicants.blank?
  %p
    #{t('admissions_admin.reprioritisation_deadline')}
    = l(@admission.admin_priority_deadline)
