= javascript_include_tag 'applicants/admissions_admin_applicants', defer: true

= link_to admissions_admin_admission_path(@admission) do
  .samf-button.plain.mb-3
    = t("common.back")

%h1
  = t("admissions_admin.three_applications")

%hr

- @applicants.each do |applicant|
  .applicant
    .flex-row
      %h2
        = applicant.full_name
    .flex-column.mb-3
      .flex-row
        %strong.mr-2= t("helpers.label.applicant.phone") + ":"
        = applicant.phone
      .flex-row
        %strong.mr-2= t("helpers.label.applicant.email") + ":"
        = applicant.email
    %h2
      = t("admissions_admin.missing_job_interviews")
    - applicant.job_applications.each do |application|
      .application{id:"application-#{application.id}", class: "display-none #{application.interview.time ? '' : 'not_set display-not-set'}"}
        %p
          = application.job.group.name
          \-
          = link_to application.job.title, admissions_admin_admission_group_job_path(@admission, application.job.group, application.job)
    %br
    %hr

- if @applicants.blank?
  %p
    #{t('admissions_admin.reprioritisation_deadline')}
    = l(@admission.admin_priority_deadline)
