%h2 Søkere som er satt til reserve, eller ikke satt enda
%p
  %input#show_reserved{type:"checkbox", checked: true}
    =t('admissions_admin.show_reserved_applicants')
%p
  %input#show_not_set{type:"checkbox", checked: true}
  =t('admissions_admin.show_not_set_applicants')
- @applicants.each do |applicant|
  .applicant
    %h3
      %strong= link_to applicant.full_name, applicant
      \-
      = applicant.phone
      \-
      = applicant.email
    - applicant.job_applications.each do |application|
      - if application.interview.acceptance_status == :reserved || application.interview.acceptance_status == nil
        %p
          = application.job.group.name
          \-
          = application.job.title
          %strong{:style => "color: #961E21"}= application.interview.acceptance_status_string

  %br
  %br

- if @applicants.blank?
  %p
    Omprioriteringsfristen er ikke ute enda, kom tilbake etter
    = l(@admission.admin_priority_deadline)
