.section#groups-with-jobs
  .header
    %h2
      = t('admissions.groups_with_admission')
  %ul
    - admission.groups.each do |group|
      %li
        = link_to "##{admission.to_param}/#{group.to_param}" do
          = group.name
    %br
    %br
    %h3
      %a{href:'#separate_admission', title:t('admissions.separate_admission_information')}  #{t('admissions.separate_admission_information')}
