.section#groups-with-jobs
  .header
    %h2
      = t('admissions.groups_with_admission')
  %ul
    - admission.groups.each do |group|
      %li
        = link_to "##{admission.to_param}/#{group.to_param}" do
          = group.name
    .separate-admissions
      %h3
        = t('admissions.groups_with_separate_admission')
      :markdown
        #{Admission.first.groups_with_separate_admission}
