
.text-Align
  %h1{style:"color: $samfundet-red"}
    - if admissions.any?
      = t('admissions.admission_not_yet_open')
      %h2
        = admissions.upcoming.first.shown_from
    - else
      = t('admissions.no_admissions.header')


.center{style: "max-width: 720px;"}
  %p
    = simple_format t('admissions.no_admissions.motivation_text')
  %p
    = simple_format  t('admissions.admission_promo')

  %p
    = t('admissions.no_admissions.more_information')
    %strong
      = link_to t('admissions.no_admissions.click_here'), t('navigation.main.contactinfo')



  - if current_user.kind_of? Applicant
    %p= t('admissions.no_admissions.see_applications_text')
    = link_to job_applications_path do
      .samf-button.plain.center
        = t('job_applications.mine')
  - else
    %p= t('admissions.no_admissions.already_applied')
    = link_to applicant_login_path(redirect_to: job_applications_path) do
      .samf-button.plain.center
        = t('applicants.login_title')

%hr

.text-Align
  = render 'no_admissions_header'
