.top
  %h2
    = t('images.admin_applet.title')
.options
  %ul
    - if can? :new, Image
      %li
        = link_to new_image_path do
          .samf-button.green.w100.mb-2
            = t('images.admin_applet.new')
    %li
      = link_to images_path do
        .samf-button.plain.w100.mb-2
          = t('images.admin_applet.view')

