.flex-row.mb-3
  = link_to members_control_panel_path do
    .samf-button.plain
      = t("common.back")

%h1.mb-2.mt-2
  = t("images.admin_applet.title")

- if can? :new, Image
  .flex-row.mb-3
    = link_to new_image_path do
      .samf-button.green
        = t('images.admin_applet.new')

%hr

= render 'search_form'

%hr

%h2
  = t('images.search_results')


.ajax-results
.existing-results
  = render 'image_list'

= will_paginate @images
