
= link_to images_path do
  .samf-button.plain.mb-3
    = t('common.back')

%h1
  = @image.title

= image_tag @image.image_file.url

= text_field_tag 'image-url', request.original_url, readonly: 'readonly', class: 'copy-image-url-link', onclick: 'select()'

.flex-row.wrap.mt-2
  - if can? :edit, @image
    = link_to edit_image_path do
      .samf-button.blue.mb-2.mr-2
        = t('crud.edit')
  - if can? :destroy || @image.uploader == @current_user, @image
    = link_to @image, data: { confirm: t('crud.confirm') }, method: :delete do
      .samf-button.mb-2
        = t('crud.destroy')


%h2= t('images.tags')
- if @image.tags.any?
  .flex-row.wrap
    - @image.tags.each do |tag|
      = link_to search_images_path({ search: tag.name }) do
        .samf-button.plain.small.mb-2.mr-2
          = tag.name
- else
  %p= t('images.no_tags')

%p
  = t('images.uploaded_at', time: @image.image_file_updated_at)
  // Show uploader only if image has uploader
  - if @image.uploader
    = t('images.uploaded_by', name: @image.uploader.full_name)
