#footer-separator
#sponsors
  #othersponsors
    .sponsortext
      = t('layouts.footer.othersponsors')
    .horizontal-flex
      %a.trondheim-kommune-container{ href: 'http://www.trondheim.kommune.no/', target: '_blank' }
        .trondheim-kommune-icon
        .trondheim-kommune-text= "TRONDHEIM KOMMUNE"
      .logo
        %a.kulturrom-icon{ href: 'http://www.kulturrom.no/', target: '_blank' }
      %a.trondheim-kommune-container{ href: 'https://reitan.no/', target: '_blank' }
        .reitan-icon


  #partners
    .sponsortext
      = t('layouts.footer.festivals')
    .logo.horizontal-flex
      %a.isfit-icon{ href: 'http://www.isfit.org/', target: '_blank' }
      %a.uka-icon{ href: 'https://www.uka.no/', target: '_blank' }
#footer
  #footer-wrapper
    #contact-editors
      %ul
        %li
          - if page_by_name_en("contactinfo") != "#"
            = link_to page_by_name_en("contactinfo") do
              = t('layouts.footer.contact')
    #social
      %ul
        %li
          = link_to 'https://facebook.com/samfundet', target: "_blank" do
            Facebook
            = image_tag 'facebook_36.png', alt: 'Like us on Facebook'
        %li
          = link_to 'https://instagram.com/samfundet', target: "_blank" do
            Instagram
            = image_tag 'instagram_36.png', alt: 'See our images on Instagram'
        %li
          = link_to 'https://open.spotify.com/user/samfundet', target: "_blank" do
            Spotify 
            = image_tag 'spotify_36.png' , alt: "Check out our Spotify playlists"
        %li
          = link_to 'https://twitter.com/samfundet', target: "_blank" do
            Twitter
            = image_tag 'twitter_36.png', alt: 'See our tweets on Twitter'
    #contact
      %ul
        %li &copy; Studentersamfundet i Trondhjem #{Time.current.year}
        %li Org.nr: 970 088 466
        %li Elgeseter gate 1
        %li 7030 Trondheim
  #cookies
    %ul
      %li
        =t('layouts.footer.cookies', path: 'http://www.whatarecookies.com/').html_safe