
- # Halloween cobweb
- if (Time.new.month == 10 and Time.new.day >= 28 and Time.new.day <= 31)
  .header-easter-egg
    .cobweb
    .spider

#header{ class: "#{params[:controller]} #{controller.action_name}" }

  #header-items-mobile
    = link_to root_path do
      .samfundet-logo{class: "#{Rails.env.production? ? "" : "beta"}"}
        - if Time.new.month == 12
          .header-easter-egg
            .santa-hat
    #header-hamburger-menu
      .hamburger-line.top
      .hamburger-line.mid
      .hamburger-line.bot
  #header-items
    = link_to root_path do
      .samfundet-logo{class: "#{Rails.env.production? ? "" : "beta"}"}
        - if Time.new.month == 12
          .header-easter-egg
            .santa-hat
    .header-item.events
      = link_to t('layouts.application.menu.events'), events_path
    #info-dropdown.header-item.dropdown
      %a
        = t('layouts.application.menu.info')
        .chevron
      .drawer-anchor
        .drawer
          // Om, Åpningstider, Foto, 
          = link_to "Om Samfundet", pages_path, class: "drawer-item"
          - if page_by_name_en("membership") != "#"
            = link_to t("pages.index.membership"), page_by_name_en("membership"), class: "drawer-item"
          - if page_by_name_en("opening-hours") != "#"
            = link_to t("layouts.application.menu.opening_hours"), page_by_name_en("opening-hours"), class: "drawer-item"
          - if page_by_name_en("opening-hours") != "#"
            = link_to t("layouts.application.menu.photo"), "https://foto.samfundet.no", class: "drawer-item"

    .header-item
      = link_to t('layouts.application.menu.lyche'), sulten_path, target: :_blank
    - if open_admission?
      .header-item.volunteer.highlight
        = link_to t('layouts.application.menu.admissions'), admissions_path
    - else
      .header-item.volunteer
        = link_to t('layouts.application.menu.admissions'), admissions_path


    - if logged_in?
      - if current_user.is_a?(Applicant)
        = link_to job_applications_path do
          .username
            .icon
            = current_user.full_name
      - elsif has_control_panel_applets?
        = link_to members_control_panel_path do
          .username
            .icon
            = current_user.full_name
      - else
        .username.idle
          .icon
          = current_user.full_name

    = link_to change_language do
      .change-language{class: "#{I18n.locale}", :style => "margin-left: 2em;"}

    = link_to "https://medlem.samfundet.no/" do
      .samf-button.small.mr-2
        = t("layouts.application.menu.membership")

    - if logged_in?
      -# Logout
      = link_to logout_path, method: :post do
        .samf-button.white.small
          = t('layouts.application.menu.logout')
    - else
      = link_to login_path(redirect_to: request.path) do
        .samf-button.white.small
          = t('layouts.application.menu.internal')




#header-popup-menu

  #info-button.header-item.info
    %a
      = t('layouts.application.menu.info')
      .chevron{style: "margin-top: 0;"}

  #info-drawer.hidden
    // Om, Åpningstider, Foto, 
    = link_to "Om Samfundet", pages_path, class: "drawer-item"
    - if page_by_name_en("membership") != "#"
      = link_to t("pages.index.membership"), page_by_name_en("membership"), class: "drawer-item"
    - if page_by_name_en("opening-hours") != "#"
      = link_to t("layouts.application.menu.opening_hours"), page_by_name_en("opening-hours"), class: "drawer-item"
    - if page_by_name_en("opening-hours") != "#"
      = link_to t("layouts.application.menu.photo"), "https://foto.samfundet.no", class: "drawer-item"

  .header-item.info-drawer-hide-other
    = link_to t('layouts.application.menu.lyche'), sulten_path

  .header-item.events.info-drawer-hide-other
    = link_to t('layouts.application.menu.events'), events_path

  - if @open_admission
    .header-item.highlight.info-drawer-hide-other
      = link_to t('layouts.application.menu.admissions'), admissions_path
  - else
    .header-item.volunteer.info-drawer-hide-other
      = link_to t('layouts.application.menu.admissions'), admissions_path


  %br

  .header-item.mt-3{:style=>"font-size: 1em;"}
    = link_to t('layouts.application.menu.change_language'), change_language

  = link_to "https://medlem.samfundet.no/" do
    .samf-button.mb-2
      = t("layouts.application.menu.membership")

  - if logged_in?
    -# Logout
    = link_to logout_path, method: :post do
      .samf-button.white
        = t('layouts.application.menu.logout')
  - else
    = link_to login_path(redirect_to: request.path) do
      .samf-button.white
        = t('layouts.application.menu.internal')


  - if logged_in?
    %br
    - if current_user.is_a?(Applicant)
      = link_to job_applications_path do
        .username
          .icon
          = current_user.full_name
    - elsif has_control_panel_applets?
      = link_to members_control_panel_path do
        .username
          .icon
          = current_user.full_name
    - else
      .username.idle
        .icon
        = current_user.full_name
