
#header{ class: "#{params[:controller]} #{controller.action_name}" }
  #header-items-mobile
    = link_to root_path do
      .samfundet-logo
    #header-hamburger-menu
      .hamburger-line.top
      .hamburger-line.mid
      .hamburger-line.bot
  #header-items
    = link_to root_path do
      .samfundet-logo
    .header-item.events
      = link_to t('layouts.application.menu.events'), events_path
    .header-item.info
      = link_to t('layouts.application.menu.info'), pages_path
    .header-item
      = link_to t('layouts.application.menu.lyche'), sulten_path
    .header-item
      = link_to t('layouts.application.menu.membership'), "https://medlem.samfundet.no/"
    - if open_admission?
      .header-item.volunteer.highlight
        = link_to t('layouts.application.menu.admissions'), admissions_path
    - else
      .header-item.volunteer
        = link_to t('layouts.application.menu.admissions'), admissions_path


    - if logged_in?
      - if current_user.is_a?(Applicant)
        = link_to job_applications_path do
          .username
            .icon
            = current_user.full_name
      - elsif has_control_panel_applets?
        = link_to members_control_panel_path do
          .username
            .icon
            = current_user.full_name
      - else
        .username.idle
          .icon
          = current_user.full_name

    = link_to change_language do
      .change-language{class: "#{I18n.locale}", :style => "margin-left: 2em;"}

    - if logged_in?
      -# Logout
      = link_to logout_path, method: :post do
        .samf-button.small
          = t('layouts.application.menu.logout')
    - else
      - if open_admission?
        = link_to login_path(redirect_to: request.path) do
          .samf-button.small
            = t('layouts.application.menu.login')
      - else
        = link_to login_path(redirect_to: request.path) do
          .samf-button.small
            = t('layouts.application.menu.internal')


#header-popup-menu


  .header-item.info
    = link_to t('layouts.application.menu.info'), pages_path

  .header-item
    = link_to t('layouts.application.menu.lyche'), sulten_path

  .header-item.events
    = link_to t('layouts.application.menu.events'), events_path

  .header-item
    = link_to t('layouts.application.menu.membership'), "https://medlem.samfundet.no/"
  - if @open_admission
    .header-item.highlight
      = link_to t('layouts.application.menu.admissions'), admissions_path
  - else
    .header-item.volunteer
      = link_to t('layouts.application.menu.admissions'), admissions_path


  %br
  %br

  - if logged_in?
    -# Logout
    = link_to logout_path, method: :post do
      .samf-button.small.mt-3
        = t('layouts.application.menu.logout')
  - else
    = link_to login_path(redirect_to: request.path) do
      .samf-button.small.mt-3
        = t('layouts.application.menu.login')

  .header-item.mt-3{:style=>"font-size: 1em;"}
    = link_to t('layouts.application.menu.change_language'), change_language

  %br

  - if logged_in?
    - if current_user.is_a?(Applicant)
      = link_to job_applications_path do
        .username
          .icon
          = current_user.full_name
    - elsif has_control_panel_applets?
      = link_to members_control_panel_path do
        .username
          .icon
          = current_user.full_name
    - else
      .username.idle
        .icon
        = current_user.full_name