
#header-menu-mobile
  -# TODO this section should be modular, duplicate code!!
  = link_to root_path do
    .header-menu-item
      = t('layouts.application.menu.home')
  = link_to events_path do
    .header-menu-item
      = t('layouts.application.menu.events')

  = link_to events_path do
    .header-menu-item
      = t('layouts.application.menu.venues')

  = link_to pages_path do
    .header-menu-item
      = t('layouts.application.menu.info')

  = link_to "https://medlem.samfundet.no/" do
    .header-menu-item
      = t('layouts.application.menu.membership')

  = link_to admissions_path do
    .header-menu-item
      = t('layouts.application.menu.admissions')

  - if logged_in?
    -# .username= current_user.full_name
    - if current_user.is_a?(Applicant)
      = link_to job_applications_path do
        .header-menu-item
          = t('job_applications.mine')
    - elsif has_control_panel_applets?
      = link_to members_control_panel_path do
        .control-panel
    = link_to logout_path, method: :post do
      .header-menu-item.login
        = t('layouts.application.menu.logout')
  - else
    = link_to login_path do
      .header-menu-item.login
        = t('layouts.application.menu.login')

#header

  #header-menu-button-mobile
    .header-menu-button-line
    .header-menu-button-line
    .header-menu-button-line

  = link_to root_path do
    .header-icon


  .header-menu

    = link_to events_path do
      .header-menu-item
        = t('layouts.application.menu.events')

    = link_to events_path do
      .header-menu-item
        = t('layouts.application.menu.venues')

    = link_to pages_path do
      .header-menu-item
        = t('layouts.application.menu.info')

    = link_to "https://medlem.samfundet.no/" do
      .header-menu-item
        = t('layouts.application.menu.membership')

    = link_to admissions_path do
      .header-menu-item
        = t('layouts.application.menu.admissions')

    - if logged_in?
      -# .username= current_user.full_name
      - if current_user.is_a?(Applicant)
        = link_to job_applications_path do
          .header-menu-item
            = t('job_applications.mine')
      - elsif has_control_panel_applets?
        = link_to members_control_panel_path do
          .control-panel
      = link_to logout_path, method: :post do
        .header-menu-item.login
          = t('layouts.application.menu.logout')
    - else
      = link_to login_path do
        .header-menu-item.login
          = t('layouts.application.menu.login')


  -##dropdown-header
  -#  .dropdown-button-wrapper
  -#    %a.dropdown-button.opening-hours{ href: "#" }
  -#      = t('layouts.application.menu.opening_hours')
  -#      .caret-wrapper
  -#        .caret
  -#
  -#  .icon-wrapper
  -#    %a.samfundet-icon{ href: root_path }
  -#
  -#  .dropdown-button-wrapper
  -#    %a.dropdown-button.menu-items{ href: "#" }
  -#      = t('layouts.application.menu.menu')
  -#      .caret-wrapper
  -#        .caret
  -#
  -#.dropdown-content-wrapper.opening-hours
  -#  = render 'layouts/opening_hours'
  -#
  -#.dropdown-content-wrapper.menu-items
  -#  %nav.left-list
  -#    %ul
  -#      %li= link_to t('layouts.application.menu.home'), root_path
  -#      %li= link_to t('layouts.application.menu.events'), events_path
  -#      %li= link_to t('layouts.application.menu.info'), pages_path
  -#
  -#  .icon-wrapper
  -#    %a.samfundet-icon{ href: root_path }
  -#
  -#  %nav.right-list
  -#    %ul
  -#      %li= link_to t('layouts.application.menu.live'), "https://samfundet.no/live"
  -#      %li= link_to t('layouts.application.menu.membership'), "https://medlem.samfundet.no/"
  -#      %li= link_to t('layouts.application.menu.admissions'), admissions_path
