%h2
  = t("navigation.show.roles_of") + " " + @member.full_name

%table
  %thead
    %tr
      %th= t('roles.role_title')
      %th= t('roles.role_description')
      %th
        &nbsp;
  - @roles.each do |role|
    %tr
      %td
        = link_to role_path role.role do
          = role.role.title
      %td
        = role.role.description
      - if :editable.present?
        %td
          .flex-row.flex-justify-end
            = link_to [role.role, role], method: :delete, data: { confirm: t('crud.confirm') } do
              .samf-button.small.red
                = t("crud.destroy")
