%h2
  = set_and_return_title t("members.control_panel")
%h3
  = current_user.full_name
#faq
  = link_to page_by_name("intern-faq") do
    .samf-button.small.plain.mb-2
      = t('navigation.admin.faq')

#applets
  - @applets.each do |applet|
    .applet
      = applet.render
