

%h1
  = set_and_return_title t("members.control_panel")
.name
  = @wise_words

= link_to page_by_name("intern-faq") do
  .samf-button.small.plain.center
    = t('navigation.admin.faq')

%br

#applets
  - @applets.each do |applet|
    .applet
      = applet.render
