= link_to members_control_panel_path do
  .samf-button.plain.mb-3
    = t("common.back")
.top
  %h1
    = t('navigation.show.find_member_roles')
.option
  = form_tag members_get_roles_path, method: "post", class: "custom-form" do
    %br
    %b
      = t('navigation.show.search_member')
    %div
      = text_field_tag :member_id, nil, placeholder: t("members.search_placeholder"), class: "textfield member_autocomplete", style: "border: 1px solid gray", required: true
    %p
      = submit_tag t('navigation.show.search')
.rolesx
  - if $roles.present?
    = render partial: "members/roles"
  - else
    %h2
      = t("navigation.show.no_member")


